[2019-04-12 03:32] ryanrolds opened #2 "Get BigQuery data loading and document process"
Rails' is [configured to download upload & download data ever Sunday at 11:30pm](https://github.com/Hack4Eugene/SpeedUpYourCity/blob/master/config/schedule.rb#L21). It should be possible to trigger the import logic with `docker-compose run frontend rake import_mlab_submissions`. Setup access to M-Lab's BigQuery database, see [BigQuery Quick Start Guide](https://www.measurementlab.net/data/docs/bq/

[2019-04-12 04:29] ryanrolds opened #3 "Get Lane County Zip Code boundaries and update task that loads them"
Zip Code boundaries appear to be loaded with a [rake task](https://github.com/Hack4Eugene/SpeedUpYourCity/blob/master/lib/tasks/create_zip_boundaries.rake#L5). Try running the task with `docker-compose run frontend rake populate_zip_boundaries`. It looks like the project was using `data.washingtonpost.com` to get boundaries and other attributes, the service appears to no longer work. Confirm it no

[2019-04-12 04:42] ryanrolds opened #4 "Get Census Tract boundaries and update task that loads them"
Census Tract boundaries appear to be lazy loaded with a [rake task](https://github.com/Hack4Eugene/SpeedUpYourCity/blob/master/lib/tasks/submissions.rake#L21) that run automatically [Mondays at 11:30pm](https://github.com/Hack4Eugene/SpeedUpYourCity/blob/master/config/schedule.rb#L25). Try running the task with `docker-compose run frontend rake update_pending_census_codes`. This task may still wor

[2019-04-14 21:19] ryanrolds opened #5 "Estimate AWS cost for Test and Production environments"
When trying to get AWS credits, they asked that we provide an estimate using their calculator.

We need a Test and Production environment. The Test env can be small as it's only used by contributors for integration testing and demos. The Production environment will need to handle a yet to be determined amount of load for the county-level and state-level milestones.

### Test (US-West-1)
* MySQL RD

[2019-04-14 21:25] ryanrolds opened #6 "Create new design for SpeedUpAmerica"
The current design will be acceptable in the short-term, but we need to begin iterating on a revamped UX for a national level solution. This ticket is mostly a place to collect ideas, we don't yet have a clear set of UX requirements.

[2019-04-14 21:30] ryanrolds opened #7 "In UI replace Louisville/SpeedUpYourCity with Lane County/SpeedUpAmerica"
The plan is to rebrand under SpeedUpAmerica. As we will not be launching with a national dataset, we need to focus the map on Lane County. Go through the UI with a fine-toothed comb and replace all references to Louisville/SpeedUpYourCity with SpeedUpAmerica. The map must center on Lane County.

[2019-04-14 22:55] mattsayre commented on #5
First pass at this is $320.50/month.

For DB’s, assumed On-Demand.
For data transfers, made no assumptions.

https://calculator.s3.amazonaws.com/index.html#key=calc-BBCE25D6-9E59-41AC-B7C5-F15FE55072CB&r=SFO

[2019-04-14 23:02] ryanrolds commented on #5
Looking over the details, I don't think we need the VPN Connections for the VPC. Vanilla VPCs may not cost anything.

[2019-04-14 23:32] mattsayre commented on #5
Revised without VPN is $247.30/month
https://calculator.s3.amazonaws.com/index.html#key=calc-1E39D743-C92D-4FDB-B4F1-552AF01AA37D&r=SFO

Reference pricing for T3 Mediums upgrade is $338.05/month

Going to submit the $247.30/month link for credits.

[2019-04-15 01:56] ryanrolds commented on #5
Looks good to me. Thanks @mattsayre.

[2019-04-15 20:28] ryanrolds commented on #3
Chris from M-Lab [mentioned](https://hack4cause.slack.com/archives/CHCMW8URJ/p1555069344013200) that County and Zip boundaries are available in a BigQuery dataset.

[2019-04-16 17:22] #5 closed

[2019-04-17 15:57] nohorse opened #9 "Add contributors.md to the root with contributer guidelines"
clear the path for folks to contribute!

https://mozillascience.github.io/working-open-workshop/contributing/

[2019-04-17 16:26] nohorse opened #10 "Participate in Mozilla 2019 Sprint for Internet Health"
SUA would be a great project for 2019 Sprint for Internet Health.  https://foundation.mozilla.org/en/opportunity/open-events-guide/about-the-2019-sprint-for-internet-health/

I'm a Mozilla Open Leaders mentor this season and it's time to start planning local events for the sprint.  SpeedUpAmerica would be a great focus project and help promote it on a larger scale.

I'm envisioning two events in t

[2019-04-17 18:03] ryanrolds commented on #10
More the merrier. By the first Mozilla Sprint event, we will probably already have plenty of tickets. The project has a `README.Docker.md` file should be merged into the `README.md` by H4C, so setup should be trivial (if you doubt the ease please look a the existing file). My point being, the Mozilla Sprint events can probably be all coding and no PM.

[2019-04-17 23:46] nohorse commented on #10
@mattsayre wants to re-evaluate after the event.

[2019-04-17 23:55] ryanrolds commented on #10
What is being re-evaluated after the event (I assume H4C)?

[2019-04-18 00:03] csjoblom commented on #10
Two long weekends in a row might be a tough sell for those working on this challenge especially since they are already in the flow of things. No need to wait to continue in my opinion. Is there an intended goal for pigeon holing this into Mozilla stuff?

[2019-04-18 00:04] ryanrolds commented on #10
A re-evaluation sounds like something that should be done by the governance group formed from maintainers/contributors.

[2019-04-18 00:08] ryanrolds commented on #10
Are there any specific concerns? I would understand if the project doesn't get off the ground, but if the project is successful, I'm not sure what would need re-evaluation.

[2019-04-18 00:09] ryanrolds commented on #10
@mattsayre, can you provide any comment on the need you're anticipating?

[2019-04-18 00:42] ryanrolds opened #11 "Choose governance model"
To meet long-term goals we will need a framework for making decisions and resolving disagreements.

Resources:
* https://opensource.guide/leadership-and-governance

This is a placeholder for a discussion and decision that may be conducted in the ticket, Slack, or elsewhere. Feel free to link additional resources.

[2019-04-18 00:45] ryanrolds commented on #11
I'm in support of Liberal contribution or Meritocracy.

Information on Liberal contribution written by a dev from the Node.js community, which uses this model: https://medium.com/the-node-js-collection/healthy-open-source-967fa8be7951

[2019-04-18 17:04] ryanrolds commented on #9
https://github.com/Hack4Eugene/SpeedUpAmerica/pull/12 includes requested file.

[2019-04-18 17:05] ryanrolds commented on #11
One proposal: https://github.com/Hack4Eugene/SpeedUpAmerica/pull/12 includes requested file.

[2019-04-18 19:47] antonioortegajr commented on #10
For the IDX location an IDX employee must be present. Here are the general guidelines for outside events at IDX: https://github.com/antonioortegajr/guest-events-at-idx This means if you plan something and no IDX employee can attend for whatever reasons, the event could not be at IDX and would have to find a new venue in the remaining time. This is a risk the python and cyber security groups have a

[2019-04-19 05:09] mattsayre commented on #10
My thought was simply that there be consideration for new contributors that would emerge at the hack. Specifically leaving room for others to weigh-in on the decision about connected sprint(s) dates & venue. I'm not saying that the Sprint isn't a good idea. I am saying that decision about date and location be made with everyone at the table - during or shortly after Hack for a Cause 2019.

[2019-04-20 00:37] nohorse opened #13 "research the civic platform from hack oregon"
Hack Oregon and Eugene have been chatting at a policy level about being a hack-oregon node and maybe the first non-pdx city to use civic platform  http://www.hackoregon.org/civic-projects

I hung out with these folks as OSCON 2018 and we chat a few times a year.  The "platform" is really more of set of react component to do fancy visualizations on the front end and an API on the back.  Not sure ab

[2019-04-22 04:30] ryanrolds commented on #7
https://github.com/Hack4Eugene/SpeedUpAmerica/pull/8

[2019-04-22 16:41] nohorse commented on #10
More info on the Mozilla global sprint:  https://www.meetup.com/EugeneTech/events/260713803/

Two easy meetup style events.  One to kickoff and one to wrap-up.  I'll get more information as we get close, but this is really a low-key "sprint" and more of a way to highlight projects.  There will be a few local projects like an innovation-asset open-data project and whatever folks bring to the launch

[2019-04-22 16:41] csjoblom commented on #13
Civic Platform is expensive and unless we have significant resources locally with that organization I don't forsee this happening. Based on conversations with Cat in the past this doesn't seem aligned with what they are doing.

[2019-04-22 17:04] ryanrolds commented on #13
Right now we need to focus on completing and unblocking work along the path to deploying a Lane County version of the software. Not opposed, just wanting to make sure we prioritize our work for success at our immediate milestones.

@nohorse What benefits does Hack Oregon being to this project? Are there any risks (sunk time, costs, etc...) related to engaging with Hack Oregon? How do benefits to t

[2019-04-22 17:06] ryanrolds commented on #13
The code base does include being able to download a data file (CSV I think). There is nothing stopping Hack Oregon and Civic Platform from downloading and ingesting that data on their own.

[2019-04-22 17:07] ryanrolds commented on #11
Resolved by #12

[2019-04-22 17:07] #11 closed

[2019-04-22 17:08] ryanrolds commented on #9
Resolved by #12

[2019-04-22 17:08] #9 closed

[2019-04-22 19:54] nohorse commented on #13
I do remember the cost associated now that you mention it @csjoblom .  I was origionaly just thinking that thier stuff looked pretty nice and that it was open-source.  let me touch base with them and see if ti's a buy-in to "the platform" or if it's also a public repo we could just grab bits from.

[2019-04-22 19:57] nohorse commented on #13
this is the front end wiht the MIT license: https://github.com/hackoregon/civic

[2019-04-22 19:58] ryanrolds commented on #13
@nohorse How do you envision it helping this project? A replacement frontend? Is it something we host or push data to them?

[2019-04-22 20:01] nohorse commented on #13
He're the back-end example project:  https://github.com/hackoregon/backend-examplar-2018

[2019-04-22 20:10] ryanrolds commented on #13
I'm looking at the example on http://civicplatform.org/sandbox and they appear to be serving much smaller datasets then we will be working with and are using the same techniques (giant JSON files containing boundaries) that make it unsuitable for the volume of data and number of aggregations we are working with.

[2019-04-22 20:14] ryanrolds commented on #13
tl;dr Civic Platform has the same issue identified in the Big Rocks document. We need solutions that solve the scaling issues that have been identified.

[2019-04-22 20:16] critzo commented on #2
One thing that could be considered is doing all of the M-Lab data aggregation and spatial joining within BigQuery. @georgiabullen has been working with the BigQuery GIS functions, joining M-Lab test results with geo areas, computing stats for each area, and generating tilesets. The end result is hosted tilesets (in Mapbox, or static assets in GCS) and front-end hosting. Our goal is to produce publ

[2019-04-22 20:19] nohorse commented on #13
@ryanrolds I see this being an option for build good looking front-end interactive pretty data elements.  It's cleanly separated into front-end JS and back-end dockerized API.  I'm not personally a django fan, so I'm not pushing any technology choices.

mostly I just wanted to let this team know that there are pretty and free react components for the UI as well as pre-build open-data APIs make by

[2019-04-22 20:40] ryanrolds commented on #13
My concern is that we have known scaling issues, issues that other projects trying to solve the same issue are encountering too. Suggesting solutions without first ensuring that it solves problems the project is facing distracts people and quickly becomes a game of unvetted idea whack-a-mole. Have you read https://paper.dropbox.com/doc/SpeedUpAmerica-Big-Rocks--AbuTOwBbY61nfxgmk7JmE9W6Ag-c1sMe5n0i

[2019-04-22 20:51] nohorse commented on #13
This research issue was not in response to the Big Rocks Doc.  It was in response to the repo we forked being kinda ugly and clunky.  If @ryanrolds and @csjoblom don't want to explore this, just close the ticket. No worries my friends.  I'm just here to help. 🦄

[2019-04-22 21:22] ryanrolds commented on #13
Everyone is in agreement that the codebase we inherited is clunky, but any solution we develop will have to consider the performance issues outlined in the Big Rocks document. The point of working with the existing codebase is two part:

1. It should handle a Lane County sized dataset, enabling us to hit our first milestone with minimal effort
2. We take what we learn from working with it and use

[2019-04-22 21:34] #13 closed

[2019-04-22 21:45] antonioortegajr commented on #10
Closing since mentioned above:  "decision about date and location be made with everyone at the table - during or shortly after Hack for a Cause 2019."

[2019-04-22 21:45] #10 closed

[2019-04-23 01:57] nohorse opened #14 "attract local open source contributors thru regular channels"
Discussion for the core team about looking for local contributors

Some channels to consider:
- [ ] Switchboard ASK (or OFFER is there is a budget) includes ET Facebook and Twitter
- [ ] Eugene Women in Tech
- [ ] RWIT
- [ ] Bitforest FB Group
- [ ] Eug Web Devs
- [ ] EugeneTech slack #open-source channel
- [ ] EugeneTech slack #open-data channel
- [ ] EugeneTech slack #open-eugene-projects channe

[2019-04-23 17:36] ryanrolds commented on #14
Mark, thank you for the comprehensive list.

[2019-04-23 21:32] antonioortegajr commented on #14
Eug Web Devs is down

[2019-04-24 11:54] critzo opened #15 "Revise M-Lab queries to use StandardSQL and current M-Lab BigQuery tables"
`submissions_importer.rb` has [outdated queries](https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/app/classes/submissions_importer.rb#L66-L133)to M-Lab BigQuery tables. Revise and test updated queries. Needed to resolve #2

Table name should change from `plx.google:m_lab.ndt.all` to `measurement-lab.release.ndt_all`, and I'll work on revised queries to post here or in a PR.

[2019-04-25 06:28] Kourchenko commented on #7
UI fixes:
- Replaced several instances of SpeedUpYourCity with SpeedUpAmerica.
- Fixed Partnerships to reflect the companies that are partners with this project (TAO, US Ignite, M-Lab).
- Fixed Partnerships logos, removed previous company logos, added new company logos.

[2019-04-26 17:42] ryanrolds opened #17 "Update Bundler to latest version"
Resolve warning about using an older version of Bundler.

[code]

[2019-04-26 17:48] ryanrolds opened #18 "Update ISP list"
The ISP list needs to be expanded to include ISP in the PNW.

[2019-04-26 17:54] ryanrolds opened #19 "Take the Test in upper right corner not working"
After loading the home page, clicking "Take the Test" in the upper right corner doesn't work.

[2019-04-26 17:56] ryanrolds opened #20 "Take the Test in center of homepage "enables" inconsistently"
Investigate why the button isn't enabled at the start (probably intentional, we need to understand why) and then look into why it may not load consistently.

[2019-04-26 17:59] ryanrolds opened #21 "Deploy production version and point SpeedUpAmerica.com to it"
The initial plan is to use RDS and ECS. This isn't set in stone and is open to discussion, including using MVP Studios K8s cluster.

[2019-04-26 18:01] ryanrolds commented on #7
Great work. Thanks @Kourchenko

[2019-04-26 18:01] #7 closed

[2019-04-26 18:10] ryanrolds opened #22 "Initial page loading after starting service is slow"
After starting service with Docker (and likely in other situations) the initial page load is slow. Investigate and resolve. May require updating Dockerfile or adjusting development env settings.

[2019-04-26 19:18] ryanrolds opened #24 "Create Mapbox vector tilesets for counties, Lane County Zip Cod, and Lane County Census Tracts"
Currently, the project sends individual boundaries to the browser for rendering on the map. We need to replace with a vector tileset that we will join data on to for styling.

See https://docs.mapbox.com/studio-manual/reference/tilesets/. If you're aware of other options please speak up.

[2019-04-26 19:24] ryanrolds opened #25 "Create endpoint to serve aggregated data without boundaries"
As part of the prep for using vector tilesets, we need to create a HTTP endpoint that delivers data for a single aggregation without boundary data. It should take the aggregation level (county, zip, census_tract) and return all stats.

[2019-04-26 19:42] ryanrolds opened #26 "Join new stats endpoint on to vector tiles"
Once we have the vector tiles and an endpoint for getting stats for the boundaries, we need to join the data on to the vector tileset. See https://docs.mapbox.com/mapbox-gl-js/example/data-join/

[2019-04-26 20:39] Amcclennahan commented on #19
Consider working on #20 first, as that is higher visibility.

[2019-04-26 20:42] Amcclennahan commented on #4
Focus on #3 If not completed or taken yet

[2019-04-27 02:42] khutchison commented on #18
I can do this - which file is the ISP list in?

[2019-04-27 03:35] noahbrenner opened #27 "Add .editorconfig file"
There are some inconsistencies in indentation style (different numbers of spaces or tabs), including for identical filetypes. Having an [.editorconfig](https://editorconfig.org/) file could help avoid future whitespace issues without contributors having to manually update their editor settings when editing different files. On the other hand, maybe we don't want yet another config file.

I'm happy

[2019-04-27 04:30] ryanrolds commented on #18
Hold on this. It may be auto-populated. If you wanted to look through the logic and confirm it's a static list we define that would be helpful.

[2019-04-27 04:31] ryanrolds commented on #27
No objections. Please make sure the style matches the existing code as much as possible.

[2019-04-27 07:49] noahbrenner commented on #20
### Some background

* When the home page first loads, the "Take the Test!!" button is disabled by default via the HTML served.
* The button is only enabled after issuing an XHR to an endpoint on our server and receiving the response. This request is only sent when the page first loads because it's called from a DOMContentLoaded listener. We'd prefer not to have that delay before the button is ena

[2019-04-27 16:41] ryanrolds commented on #20
Yeah, remove that logic. When they agree to give us access to their location lets enable the button (or however it works). As they are taking the test we can get more accurate location information. Make sure to also use [watchPosition(...)](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API#Watching_the_current_position) we can get the most accurate location we can. We will use whate

[2019-04-27 16:54] Amcclennahan opened #28 "Adjust Logic on Hero Button"
We need to adjust the logic in the Take Test button on the homepage, center, such that it consistently appears and supports the best services.

From #20

@noahbrenner :
There is a function called start_speed_test which sets a click listener on DOM elements with the test-speed-btn class. There are 3 such elements, but none of them are visible when visiting the homepage or after clicking the "Take t

[2019-04-27 17:23] Amcclennahan opened #29 "Investigate/implement best location services in Speed Test"
There may be some inefficiencies and needless reliance on external services to get location data.

Presently: We're getting location information (including address!?) from a service *before a test is even taken.*

Future: Do we need an external service? Our location data retrieved from the test itself could be enough. If we do need that service, let's make sure it goes where it makes sense, say, d

[2019-04-27 17:29] Amcclennahan opened #30 "Redesign Hero Elements in UI"
All of our designs should be in service of the following three priorities, in order:

1. Getting people to take the test.
2. Viewing the map of data
3. Raising awareness

That said, let's get the hero element to prominently display the "Take Test" button.

[2019-04-27 17:32] Amcclennahan commented on #20
I've created #28 and #29 to break this up a little bit. That said, Is there anything here that is needed to be done aside from those two things?

If not, let's get this bad boy closed and move to the other, more granular tickets @noahbrenner

[2019-04-27 17:36] Amcclennahan opened #31 "Redesign below-the-fold on home page"
Clean up design below the fold. Remember our priorities.

1. Get Data.
2. Show data.
3. Raise awareness

Here is a doc that could be valuable for any copy needs:

https://bit.ly/2vjt4Zq

[2019-04-27 17:45] Amcclennahan opened #32 "Clean up the survey associated with the test (2SP)"
We want to make the survey achievable and attractive. This is squarely inside our number one priority, getting data. Too many required questions may muddy data. Here are a few things to consider to reduce barrier to entry:

Here are the stated requirements for the survey (that's not detected by the test itself):

1. Type of internet: cable, DSL, Broadband, etc
2. Current device internet connection

[2019-04-27 17:52] Amcclennahan commented on #32
@mattsayre I pulled these questions from the value prop document and I have a question:

Do we want each of these to be required fields? It opens us up for possible inaccuracies or fewer data points. That said, it's not a ton of questions so, if designed well, I don't necessarily think it's a deal breaker. My gut is saying don't require all of them -- only the essentials. If we do require all of t

[2019-04-27 18:06] bishoplafer commented on #18
I will work on this issue.

[2019-04-27 19:05] mattsayre commented on #32
@Amcclennahan yes, I think those are the questions that add a layer of new value on top of the speed test itself.
Type of Internet service: Dial Up, Satellite, Fiber, Cellular, DSL, Cable, Line of Sight, other _____
This device's Internet connection is: Wifi, Wired, Cellular, other _____
Advertised download speed based on user input.
Advertised upload speed based on user input.
Customer service sa

[2019-04-27 19:09] noahbrenner commented on #27
I'm mostly seeing indentation of 2 spaces with the exception of `.md` files with 4 spaces.

---

In checking the indentation of various filetypes, I see that most are consistent, but JavaScript files have inconsistent indentation. I think this partly due to vendor scripts, which I don't think is an issue if we're not modifying them.

**Question 1:** I'm fairly certain the following files are gener

[2019-04-27 19:25] Amcclennahan commented on #32
Thanks for the guidance!

 @Kourchenko let me know if you have more questions.

[2019-04-27 20:41] #27 closed

[2019-04-27 23:12] critzo commented on #18
I've pulled on the unique IP addresses in M-Lab results for the past year and am grabbing the ISP names from ipinfo.io

[2019-04-27 23:59] noahbrenner commented on #19
For now, #37 (assuming it gets merged) removes the upper right "Take the Test" button so that we're not presenting broken functionality, but that header link (or something like it) should definitely be added back in later. Because of the way our navigation is currently implemented, making that link work on pages other than the home page is a challenge. One idea would be to temporarily fill the gap

[2019-04-28 00:44] csjoblom commented on #22
https://stackoverflow.com/questions/16744279/rails-development-server-is-slow-and-takes-a-long-time-to-load-a-simple-page

[2019-04-28 00:52] csjoblom commented on #22
#40 disables the config.asset.debug, I'd recommend those having issues with JS to re-enable this flag if they see issues. (if we want to accept this change)

[2019-04-28 01:31] csjoblom commented on #19
@noahbrenner I'd recommend extracting that button as component-ize it instead of disabling it completely. Then we can include that component elsewhere until we do a redesign.

[2019-04-28 01:48] #22 closed

[2019-04-28 02:24] noahbrenner commented on #20
Closing this now, since the original issue was solved by #37.
The issue for using `watchPosition()` instead of `getCurrentPosition()` is in it's own ticket, #28, and more broadly in #29.

[2019-04-28 02:24] #20 closed

[2019-04-28 02:42] noahbrenner opened #42 "Use a different Sass implementation (Ruby Sass is end-of-life)"
When running `$ docker-compose up --build` (or `$ docker-compose run frontend rake d:setup`, where I first saw it), the following message is included in the output:

[code]

**TL;DR:** We should probably switch to using the sassc gem: https://github.com/sass/sassc-ruby

[2019-04-28 04:47] csjoblom opened #46 "Add Zoom Controls to Map"
As a user I want to be able to zoom in and out without using my dumb keyboard.

* Research mapping library used
** Enable layer with zoom controls
** Style if necessary

[2019-04-28 04:54] csjoblom opened #47 "Add Comcast and Century Link to Provider List"
Do the addy of the things please

[2019-04-28 05:16] noahbrenner opened #48 "Simplify JS control flow, eliminating duplicate work"
The files `home.coffee` and `ndt_speed_test.coffee` (under `app/assets/javascripts/`) have some interaction and overlapping purposes, but they are written in different styles, duplicate some work, and coordinate in an awkward way. We should clean this up when we get a chance.

* **Different styles:** `home.coffee` uses jQuery's `.ajax` method. `ndt_speed_test.coffee` uses `XMLHttpRequest` directly

[2019-04-28 05:23] noahbrenner commented on #47
I'm seeing both of those providers listed in this file: https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/db/seeds.rb
Is there a different place these additions are needed?

[2019-04-29 18:42] ryanrolds commented on #47
It looks like the list in the "residential" speed test path isn't pulling from the list in the seeds.

[2019-04-29 18:42] ryanrolds commented on #47
This is higher priority.

[2019-04-29 19:16] khutchison opened #50 "Draw Empty Polygons in Areas without Data"
![image](https://user-images.githubusercontent.com/6693683/56920586-73077880-6a78-11e9-95ae-80f4d5aac697.png)

most of the map isn't grouped into any census track, tested from my home network, tried multiple refreshes

[2019-04-29 20:59] csjoblom commented on #46
I managed to get this kinda sorta working but the map rendering issues are really blocking all of this. One we get that all fixed the zoom should be trivial to add.

https://docs.mapbox.com/mapbox.js/api/v2.3.0/l-control/

[2019-04-29 21:10] noahbrenner commented on #47
On Sunday, I was digging through the codebase to find where the ISP list in the View Map page drop-down was coming from. I've come up blank so far. At the time I checked, this is the list displayed in that drop-down:

[code]

Various ISPs are listed in different files, some with more and some with fewer than this list, and frequently just mismatched. There was no single collection that aligned wit

[2019-04-30 02:10] benanamen commented on #47
@noahbrenner , that list is pulled from the database table named "provider_statistics". The DB is not properly normalized so that does not help things. FYI, this is @Kevin from Slack.

[2019-04-30 02:17] benanamen commented on #18
The ISP list is not static. It is pulled from from the DB,  provider_statistics.name

[2019-04-30 03:32] noahbrenner commented on #47
Awesome, thanks @benanamen! I'll try to find some time in the next couple days to take a look and get that updated.

[2019-04-30 16:31] ryanrolds commented on #50
That's just where we have data. It would probably we worth drawing empty polygons where we don't have data.

[2019-04-30 16:31] noahbrenner commented on #47
Alright, that works to update the lists (Residential & Mobile) of ISPs in the survey! I'm thinking we should ad XS Media as well. I'll also alphabetize the lists, since I don't see any logic to the order currently.

Does anyone have a list of the ISPs available in Lane County (maybe @mattsayre)? Since we're just focusing locally at this stage, it may be better UX to eliminate locally-irrelevant op

[2019-04-30 16:32] ryanrolds commented on #15
This has been handled by Chris R.

[2019-04-30 16:32] #15 closed

[2019-04-30 16:34] bishoplafer commented on #47
[code]

[2019-04-30 16:37] benanamen commented on #47
If you are referring to the order the names appear in the selection or the DB, there is no need to alphabetize the list. A simple ORDER BY where ever/how ever the data is called is all you need. I say where ever because I am still reading/learning the code base.

[2019-04-30 16:37] ryanrolds opened #51 "Zip Codes not rendering due to bug/error"
Happening to 97452 and 97402.

Error in console:
[code]

[2019-04-30 16:38] ryanrolds commented on #51
There is a good chance this is related to the processing of `MultiPloylgon` geometries.

[2019-04-30 16:40] noahbrenner commented on #47
@bishoplafer Wow, are all of those available in Lane County? Cool, I haven't heard of a lot of them!

@benanamen Currently, their order in the Take the Test form is hard coded in `/app/helpers/home_helper.rb`, as you mentioned, rather than queried from the DB (this should be changed eventually, but I'm thinking we'll save that for the re-write).

[2019-04-30 16:49] ryanrolds commented on #47
It looks like the seeds haven't been run. That's probably my fault. Try `docker-compose exec frontend rake db:seeds` and check if it populates your local DBs provider_stastics table.

[2019-04-30 16:49] ryanrolds commented on #21
Done.

[2019-04-30 16:49] #21 closed

[2019-04-30 17:08] noahbrenner commented on #47
I think we might be talking about slightly different things and missing each other.

* The `/all-results` page, which shows the map, is populated from a DB query. That _is_ showing up for me, including ISPs and areas on the maps.
* The list in the survey on the home page (via "Take the Test!!" -> "Residential" -> "Let's do this!" -> "Who is your provider?") is hard-coded in `/app/helpers/home_help

[2019-04-30 18:03] benanamen commented on #47
And herein is exactly why I said "There is a lot of duplicate data that is going to cause confusion during Dev".

It would be a good idea to make it a priority to get rid of the static provider list and update it to pull from the DB. The Database is the foundation of this whole application. That needs to get dialed in.

[2019-04-30 18:32] noahbrenner commented on #47
I absolutely agree on the duplicate data! That said, removing may also may be a larger project, depending on how we implement it. For example, I'd prefer defaulting to showing only those providers local to the user taking the test rather than showing them the whole huge list to scroll through, especially as we scale up to the whole country and include lots of little, local ISPs. My current thought

[2019-04-30 18:37] benanamen commented on #47
I am on a fast track reading/learning the code so I will be able to give you more and better answers as the hours pass by. I understand the project has a date to work by so some things are probably best left as is for now for that reason. Just what are the specifics the need to be met by the 7th?

[2019-04-30 19:23] noahbrenner commented on #47
Cool, thanks for doing that research! We're still working on defining the specifics of what we need to do by 6/7. I think Ryan and Asher particularly are working on that, and I expect we'll talk about it when we meet on Thursday.

[2019-04-30 19:49] benanamen opened #52 "Static Providers Replacement with DB Data Fixes"
File: app/views/home/_form_step_2a.html.erb
File app/views/home/_form_step_2b.html.erb

Same procedure both files...

**REPLACE lines 6-8 with...**
[code]

[2019-04-30 19:52] benanamen commented on #47
Added new issue with fixes to eliminate static providers list and pull from DB. Topic not related to this Issues thread.

https://github.com/Hack4Eugene/SpeedUpAmerica/issues/52

[2019-04-30 23:46] noahbrenner commented on #28
I think we can close this. By my reading, it's covering 2 things which are covered by more specific issues:

1. Make sure the "Take the Test" button is always enabled. This was covered by #20 and resolved in #37.
2. Improve choice of location services. This is covered by #29.

As for the `start_speed_test` function, I found that it *is* used. It enables the button on the last screen in the test pr

[2019-05-01 00:46] Amcclennahan commented on #28
Nope, closing!

[2019-05-01 00:46] #28 closed

[2019-05-01 00:56] Amcclennahan commented on #4
I see this got assigned on Sunday, @bishoplafer @csjoblom did it end up getting completed?

[2019-05-01 01:00] Amcclennahan commented on #18
@benanamen thanks for digging in here. Sounds like we need to consolidate our data, and then update it.

1. Pull the ISP list from /app/helpers/home_helper.rb instead of provider_statistics.name
2. Update /app/helpers/home_helper.rb

That resolves the issue you're describing, is that right?

[2019-05-01 01:04] Amcclennahan commented on #19
Looks like we ended up removing this button. I'll close this ticket but we can reopen/make a new ticket if we'd like to revisit it at a later date

[2019-05-01 01:04] #19 closed

[2019-05-01 01:15] benanamen commented on #18
Well, that depends on if you want to keep hand editing the static list or just update the DB. The order you have would be for having a static list. Keep in mind, some place pull the static data, others pull from the DB.

I already posted the code to update the providers to pull from the DB which would be the better option.  (Issue #52)I just need to update it to sort Alphabetically unless someone

[2019-05-01 01:15] noahbrenner commented on #19
Sounds good. I think the plan is to add that feature back in when we redo the front end in a sane way. With the way the site (and specifically the test) currently works, it would take a lot to get such a link working from any page other than the home page (which would be the only point, since the home page already has a prominent button for that).

[2019-05-01 01:16] Amcclennahan commented on #47
Alright, I'm catching up here.

Given the wall of text above, it sounds like a new ticket is needed as "Add comcast and century link" doesn't feel representative of the issue.

Can someone help me there? Do we need an investigative ticket?

[2019-05-01 01:19] Amcclennahan commented on #18
Fantastic. Sorry I'm catching up and as you commented here I was reading your other chain :) You guys are too fast!

I definitely don't think we should be hand updating anything and that absolutely can't scale, so it needs to be changed. What's the lift for that? If it's trivial than absolutely let's get it changed.

Give me your gut on the lift and I'll prioritize accordingly

[2019-05-01 01:22] benanamen commented on #18
If I understand what you mean by "lift", the list is copy pasting the code in #52 as it shows. Pretty sure the ordering would be set in file submissions_helper.rb line 65 at the get_list_values method. Looking into right now.

[2019-05-01 01:35] Amcclennahan commented on #18
Well that sounds too easy! Any dissenting thoughts from anyone else here?

[2019-05-01 01:41] benanamen commented on #47
My Suggestion, implement #52, Update the the DB and close this issue and #52.

[2019-05-01 01:51] Amcclennahan opened #53 "Map doesn't load after re-selecting "all""
Steps to reproduce:

1. Filter the map by a specific ISP
2. Clear that filter
3. select "all" as the filter.

The map will not load.

[2019-05-01 01:53] Amcclennahan opened #54 "Polygons not loading in default map view "all""
Steps to reproduce:

1. Click "View Map" or scroll down
2. let the map load. It only loads a grey screen.

SC attached
![Map not loading](https://user-images.githubusercontent.com/19477333/57003108-38393980-6b79-11e9-968e-6738843f75c9.jpg)

[2019-05-01 02:00] Amcclennahan opened #55 "Remove "all" from ISP field after removing previous filter"
Steps to reproduce:

1. Select and ISP
2. Remove selection
3. See behavior

SC attached -- In all instances where a filter is not selected we want to display the Select Client ISP to View sample text
![all liar](https://user-images.githubusercontent.com/19477333/57003269-37ed6e00-6b7a-11e9-8033-64ef3c2c1799.jpg)

[2019-05-01 02:09] Amcclennahan opened #56 "Get "all" as a filter working consistently"
The "all" filter works unreliably right now. I've only gotten it to work once, here were the steps I took. On further attempts of the same process, I could not replicate.

1. Instigate map loading to get blank map
2. select filters (more than one)
3. Remove filters
4. Add "all" filter

Any other iteration of attempts were a failure to get all of the results to load.

[2019-05-01 02:22] Amcclennahan opened #57 "Make Data Exploration Fields Editable"
![Data Exploration tool brokent](https://user-images.githubusercontent.com/19477333/57003656-26599580-6b7d-11e9-8248-87e6936e5018.jpg)

These fields do not seem editable.

As another option, we could deprecate these fields and roll the data exploration into the map explorer above. Having two sets of the same fields seems redundant.

[2019-05-01 03:14] benanamen commented on #52
**FIX 2**
To add Provider name sorting in all places displaying Provider names add the following line to file app/models/provider_statistic.rb right after line 11, and before 'end'. This will conclude eliminating static provider data. All provider updates will now be done in the DB.

`  default_scope { order(name: :asc) }`

[2019-05-01 04:02] Amcclennahan opened #58 "Combine "Measuring Internet Service in America" with "About SpeedUpAmerica""
Below the fold, we have a section titled "Measuring Internet Service in America", then the Data Exploration, then a section with the same graphic titled "About SpeedUpAmerica"

Let's combine these at the bottom of the page.
[
Header: About SpeedUpAmerica

The SpeedUpAmerica project is designed to help Americans understand the quality and cost of internet service provided to our citizens. By answer

[2019-05-01 04:03] Amcclennahan commented on #58
If we manage this along with combining data exploration fields with map selector in #57, we can really clean up the front page and get rid of a lot of redundancy prior to our redesign efforts.

[2019-05-01 04:14] Amcclennahan opened #59 "ISP without tests causing map to stick on loading"
Looks like the map sticks on loading if a user selects an ISP with no results in certain situations.

An empty map will display if there are no tests submitted within a date range.

Steps to reproduce:

1. Navigate to Map
2. Choose "Charter Communications" as an ISP
3. Leave the date range as default, or choose a date range that certainly has submissions.

[2019-05-01 18:04] #4 closed

[2019-05-01 18:04] #3 closed

[2019-05-01 22:55] csjoblom commented on #47
@benanamen is #52 actually implemented or did you just change the interaction on the backend? We don't want breakage and should probably do both in tandem just in case the frontend has additional needs.
@Amcclennahan this isn't specific to Comcast and Centurylink at this point, it was during the hackathon as we wanted that as part of the demo.

[2019-05-01 23:07] benanamen commented on #47
I havent touched a thing on the repo. All I did was post what was needed for the change.

[2019-05-01 23:11] noahbrenner commented on #47
If folks want it, I'm happy to do a quick PR to add some ISPs to the hard-coded list, but I think @benanamen is right that a DB-based solution would be better. I don't think we need to do both.

Oh, and it looks like you're assigned to that ticket now!

[2019-05-01 23:45] benanamen commented on #47
An FYI on the hard coded providers: There is a conditional of showing only certain providers if it is on "first_step" which is the difference between choosing "Residential" or "Mobile Data" on the testing checkbox options. I wasn't going to implement #52 until I did the conditional in ActiveRecord. If in your current deadline it doesn't matter that only mobile providers show in the drop down for t

[2019-05-02 02:05] ryanrolds commented on #58
Do we want to also include the section on the home page?

[2019-05-02 02:23] ryanrolds commented on #2
This is handled. Closing.

[2019-05-02 02:23] #2 closed

[2019-05-02 02:37] ryanrolds opened #60 "TurboLinks are super buggy and should be removed"
There are several issues:
* Back button not working correctly
* Odd error at top of page about invalid url (or something like that)
* Odd map and page loading problems

We should remove TurboLinks and replace with three pages:
* Home/About
* Run Speed Test (including the forms and "running", should redirect to results when done)
* Results for speed test
* All results

Results for speed test and Al

[2019-05-02 02:42] ryanrolds opened #61 "Results page doesn't load correctly sometimes"
Sometimes the results page does not load correctly. This random happens and may require refreshing multiple time to see, possibly waiting a few minutes and trying again. The buttons don't look right when this happens and the map does not load.

![results_loading_bug](https://user-images.githubusercontent.com/343979/57054399-3d65b980-6c49-11e9-8696-e4971beb1001.PNG)

[2019-05-02 14:13] Amcclennahan commented on #58
I guess we may as well. I don't see any harm in displaying the map on the homepage, below the take test and view map buttons. Then view map just needs to initiate a scroll to the map.

This is fairly minor and if we get to it before June 7th, we may as well do that, but if it's after, the site is getting a redesign anyway so I don't see much point.

[2019-05-02 15:27] csjoblom commented on #47
I would guess we would bare minimum like Eugene ISPs for the June 7th demo
@ryanrolds @Amcclennahan @mattsayre may be able to speak to that better than I.

[2019-05-02 17:54] Amcclennahan commented on #47
Yep, at a bare minimum we want an accurate list of the Eugene ISP's, @csjoblom is right on the money there.

[2019-05-02 19:13] ryanrolds commented on #47
In the long run we will need to get ISP info from NDT as a state-level or national-level searchable list of ISP will be a pain to maintain.

[2019-05-02 19:33] noahbrenner commented on #47
@Amcclennahan For now, is there a good place to find such a canonical list for Eugene so we can get a temporary fix pushed?

@ryanrolds Agreed that we definitely don't want to maintain that list manually in the long run.

[2019-05-02 19:39] ryanrolds commented on #47
https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/db/seeds.rb#L10

[2019-05-02 19:41] ryanrolds commented on #47
A good ticket for this would say:

The "Residential" and "Mobile" speed test paths require users to select their ISP. Currently, the list is populated from a static list (`app/helpers/home_helper.rb#L5`). We want them to come from the `provider_statistics` table in the DB.

* Get the providers loaded using `rake db:seed` and update setup instructions to run seed.
* Update lists in speed test form

[2019-05-02 20:02] noahbrenner opened #62 "For speed tests, populate the ISP lists dynamically"
Per @ryanrolds in #47:

The "Residential" and "Mobile" speed test paths require users to select their ISP. Currently, the list is populated from a static list (`app/helpers/home_helper.rb#L5`). We want them to come from the `provider_statistics` table in the DB.

* Get the providers loaded using `rake db:seed` and update setup instructions to run seed.
* Update lists in speed test form to come fro

[2019-05-02 20:09] ryanrolds commented on #62
A state-level and national-level solution wouldn't ask for the ISP and instead, use the ISP we get in the speed test data as it's more reliable than what consumers enter. Also maintaining a list of ISP is not something we want to get involved in.

[2019-05-02 21:17] ryanrolds commented on #47
Updating the UI is a duplicate of https://github.com/Hack4Eugene/SpeedUpAmerica/issues/52, which is assigned to Kevin right now.

[2019-05-02 21:21] ryanrolds commented on #18
I think this is done. Chris R gave Bishop the list and the db seed was updated. We have a PR that updates the list the UI is coming from by copying the list in the seed. We have another PR for generating the list from the DB.

[2019-05-02 21:21] #18 closed

[2019-05-02 22:44] benanamen commented on #47
Kevin (me) will handle #52 after the meetup tonight.

[2019-05-03 00:28] khutchison commented on #50
Sounds good, I'll work on that over the weekend and see if I can figure it out

[2019-05-03 01:14] antonioortegajr opened #64 "QA Before You Start Wiki page"
A page for all looking to add to the project is needed. This wiki entry should be a front loader for anyone thinking about adding to this project. https://github.com/Hack4Eugene/SpeedUpAmerica/wiki/Before-You-Start

QA all links, spelling, comment in this issue with any resources that may be missing.

[2019-05-03 05:24] benanamen commented on #64
Suggested edits:
First this, thank you for wanting to help on this project and bringing your skills to this _**project**_.
*Needs space...projects here
This project is team first. Check out the current team **_projectshere_** also

Missing link??
also see the **_[https://github.com/Hack4Eugene/SpeedUpAmerica/issues]_**(issues being worked on).

[2019-05-03 18:08] benanamen opened #65 "Add Provider name sorting in all-results page"
Add the following line to file app/models/provider_statistic.rb right after line 11, and before 'end'.

`default_scope { order(name: :asc) }`

Expected Result: Provider Names in page all-results will display in Ascending order

[2019-05-03 18:27] benanamen commented on #65
Update Complete. Pull Request Pending

[2019-05-03 18:27] #65 closed

[2019-05-03 18:33] benanamen commented on #52
Update on hold as a result of last nights meeting to focus on issues currently in Trello.

[2019-05-03 19:30] Amcclennahan opened #67 "Create Test Data for State of Oregon"

[2019-05-06 16:00] nohorse commented on #47
I just tested from my house in Sherwood (outside of lane county) and Frontier was not on the list.  Maybe not a huge deal, but they are a FIOS reseller I think
![image](https://user-images.githubusercontent.com/311063/57238074-6be2ec00-6fdd-11e9-89ac-7b31b3791651.png)

[2019-05-06 16:04] nohorse opened #69 "results page missing some logos"
![image](https://user-images.githubusercontent.com/311063/57238295-ef9cd880-6fdd-11e9-847e-98a0c3bf8c2e.png)

[2019-05-06 16:05] benanamen commented on #47
@nohorse , That particular drop down select is populated from a hard coded file. We have an issue open to pull provider names from the database. When you ran a speed test your provider should have been added to the DB and should now be visible in the drop down select on the all-result map page. Can you please verify if you see it there or not.

[2019-05-06 16:12] ryanrolds commented on #69
Good catch.

[2019-05-06 16:13] ryanrolds commented on #69
@Amcclennahan Can we get a 1SP task for this?

[2019-05-06 16:26] nohorse commented on #47
I see it there!  thanks!

[2019-05-07 14:27] Amcclennahan commented on #69
done!

[2019-05-08 04:46] #47 closed

[2019-05-08 04:46] #62 closed

[2019-05-08 05:01] noahbrenner commented on #62
GitHub might have automatically closed this via #63, but I'm thinking it should still be open. Thoughts?

[2019-05-08 22:09] antonioortegajr commented on #64
made suggested edits with exception of the project manager as that could change in the future. We might want a separate doc for roles and contacts? Not everyone might want to be contacted. Added a tutorial on ubuntu in the docker for windows wiki page.

[2019-05-08 22:09] #64 closed

[2019-05-09 00:28] nohorse opened #70 "Updated fancy Logo!"
Our current logo is pretty good.
![image](https://user-images.githubusercontent.com/311063/57416820-9a67ef00-71b6-11e9-9352-7ed6a3ecf22f.png)

But we could go for something fancier!

Please comment below with some logo ideas and we'll have a discussion.

this is the plan:
- [ ] post your ideas
- [ ] we'll chat about them
- [ ] pick a winner
- [ ] do the work
- [ ] close the issue

[2019-05-09 14:29] ryanrolds commented on #70
@Kourchenko @bishoplafer @csjoblom. Ideas? Also, is Cory in the H4AC org?

[2019-05-09 19:27] nohorse commented on #70
this ticket was just a sample from the #mozsprint event last night.  closing now

[2019-05-09 19:27] #70 closed

[2019-05-12 16:58] nohorse opened #73 "Gain contributors by creating special issues for MozSprint"
Mozsprint is happing for the rest of May. To gain some visibility it would be great to have some issues labeled with "help wanted", "good first issue", "mozsprint" and "openeugene".

Purpose
To help local open source projects in Eugene, OR gain visibility and contributors from the greater open source community, and enabling local open source enthusiasts to find local projects for contribution.

Ou

[2019-05-12 22:16] CodeChops commented on #73
I'm an external test user looking to be assigned to a ticket!

[2019-05-13 22:17] noahbrenner opened #75 "Remove hard-coded Mapbox API key, use the one from local.env instead"
The file `app/assets/javascripts/mapbox.coffee` currently uses a hard-coded Mapbox key, not the one defined in `local.env`, which is set as an environment variable. The key is defined on both **line 27** and **line 173** of `mapbox.coffee`. It's been there since the file was created.

[2019-05-15 22:26] mattsayre opened #77 "Group by Census Block"
In rural geographies, zip codes boundaries and census tract boundaries can inadvertently group divergent internet availability types. This can lead to, for example, a median download speed metric that doesn't accurately reflect the on the ground truth. Smaller geographic boundaries are needed. A logical next unit of filter is a Census Block.

[2019-05-15 22:32] mattsayre opened #78 "Revise Service Satisfaction Rating System"
speedupsanjose.com uses an All/Negative/Neutral/Positive rating system. This has multiple advantages over the older method that speeduplouisville uses (star rating). The benefits include ease of visualization on a map, filter selection ease. and the rating itself includes less ambiguity. This Issue is to revise the start rating system with the All/Negative/Neutral/Positive rating system.

[2019-05-15 22:42] mattsayre opened #79 "Median price per Mbps"
The speedupamerica broadband map aims to provide transparency: real Internet speeds received, level of service experienced, and actual prices paid.

Median User-Reported Cost per Mbps should be included as a data point on the informational pop-up that a site visitor gets when they click on the map (along side existing data points like Median Speed and Fastest Speed). This will enable consumers to

[2019-05-16 01:15] #54 closed

[2019-05-16 01:21] khutchison opened #82 "export-button"
The export data button currently throws an error that breaks the site. Using SpeedUpLouisville as a template to figure out the fix and assigning myself. Feel free to reassign me if needed.

[2019-05-16 01:45] ryanrolds commented on #77
There are a lot of Census Blocks in Oregon and Lane County, more than we can deliver to the browser quickly. We also need to get the Census Block boundaries. This will very likely require vector tilsets.

[2019-05-23 22:17] #69 closed

[2019-05-24 16:29] ryanrolds commented on #82
Should be fixed by https://github.com/Hack4Eugene/SpeedUpAmerica/pull/83

[2019-05-28 02:31] #46 closed

[2019-06-02 21:52] ryanrolds commented on #82
Fixed.

[2019-06-02 21:52] #82 closed

[2019-06-02 21:52] ryanrolds commented on #75
Fixed.

[2019-06-02 21:56] ryanrolds commented on #67
Done.

[2019-06-02 21:56] #67 closed

[2019-06-02 21:57] ryanrolds commented on #73
Moz Sprint is over correct?

[2019-06-02 21:57] ryanrolds commented on #61
Fixed.

[2019-06-02 21:57] #61 closed

[2019-06-02 21:57] ryanrolds commented on #60
Done.

[2019-06-02 21:57] #60 closed

[2019-06-02 22:00] ryanrolds commented on #57
PR for this pending approval.

[2019-06-02 22:00] #57 closed

[2019-06-02 22:00] ryanrolds commented on #59
Fxied.

[2019-06-02 22:00] #59 closed

[2019-06-02 22:00] ryanrolds commented on #56
Fixed.

[2019-06-02 22:00] #56 closed

[2019-06-02 22:01] ryanrolds commented on #53
Fixed.

[2019-06-02 22:01] #53 closed

[2019-06-02 22:01] ryanrolds commented on #51
Fixed.

[2019-06-02 22:01] #51 closed

[2019-06-02 22:01] ryanrolds commented on #52
Fixed.

[2019-06-02 22:01] #52 closed

[2019-06-02 22:01] ryanrolds commented on #6
https://app.zeplin.io/project/5cf0bdb6e0ee93091a9b5c12/dashboard

[2019-06-02 22:02] ryanrolds commented on #58
Done.

[2019-06-02 22:02] #58 closed

[2019-06-02 22:03] nohorse commented on #73
There will be a recap event but this project did have any activity that I know of.

[2019-06-02 22:03] #73 closed

[2019-06-02 22:05] noahbrenner commented on #75
@ryanrolds Has the fix been merged yet? I'm still seeing it hard-coded here:

* https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/app/assets/javascripts/mapbox.coffee#L27
* https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/app/assets/javascripts/mapbox.coffee#L124

I imagine we should be using the key from `local.env` instead of doing this.

[2019-06-02 22:07] ryanrolds commented on #17
Fixed by Ruby 2.6.3 update.

[2019-06-02 22:07] #17 closed

[2019-06-02 23:27] ryanrolds commented on #75
You're right. I thought was already fixed.

[2019-06-02 23:52] ryanrolds commented on #75
https://github.com/Hack4Eugene/SpeedUpAmerica/pull/100

[2019-06-03 01:22] ryanrolds commented on #75
Now it's fixed.

[2019-06-03 01:22] #75 closed

[2019-06-08 21:55] ryanrolds opened #110 "Investigate and fix Safari geolocation error (0.5SP)"
Issue reported by Chris S, https://hack4cause.slack.com/archives/CHCMW8URJ/p1559929761016000

[2019-06-09 19:47] ryanrolds opened #111 "Improve GitHub wiki pages to strengthen onboarding (1SP)"
The pages we have good, but we would like to improve them further. The goal of these changes is to have a single root wiki page that provides an overview of the project, links to key documents, and links to a page on how to join the project and contribute. Go through all four wiki pages and update them to reflect changes in the project. Also, update the pages to contain information on the migrator

[2019-06-09 19:56] ryanrolds opened #112 "Add structured logger (1SP)"
Logs being written to STDOUT for development, test, and production environments are not structured. We would like to be able to send these logs to a centralized logging system. To do that we need to write out JSON formatted logs and include key information in all log output.

Add https://github.com/roidrage/lograge to our Rails app and ensure that all log output includes:
* A `time` in UTC
* RAILS

[2019-06-09 20:01] ryanrolds opened #113 "Upgrade map to Mapbox GL JS (SP3)"
We are using Mapbox JS, to join data on to vector tiles we need to upgrade to Mapbox GL JS. It should be possible to switch mapping libraries without sacrificing functionality.

Upgrade the Rails app to use the latest stable version of [Mapbox GL JS](https://docs.mapbox.com/mapbox-gl-js/overview/).

[2019-06-09 20:08] ryanrolds opened #114 "Create vector tileset for Census Tracts, upload to Mapbox, and document process (2SP)"
We need to generate vector tilesets for Census Tracts.

Census Tract shapefiles: https://www2.census.gov/geo/tiger/TIGER2017/TRACT/
Instructions on using Tippecanoe to generate a vector tilset: https://github.com/mapbox/tippecanoe#selectively-remove-and-replace-features-census-tracts-to-update-a-tileset

Talk to Ryan about uploading to our Mapbox account when the task is complete. Use you're won f

[2019-06-09 20:24] ryanrolds opened #115 "Replace Exploration Zip and Census Tract filters with a drop down and single chooser (2SP)"
The Zip Code and Census Tract filter behavior is causing confusion when users filter by both. Users expect an OR behavior, but they are getting an AND behavior. To reduce confusion we would like to only show one multi-select box (chooser) at a time and the shown multi-select box would be determined by a drop down to it's left. The dropdown must include "Zip Codes" and "Census Tracts". The default

[2019-06-09 22:00] antonioortegajr commented on #110
Unable to reproduce.
OSX 10.14.5
also iOS 12.3.1

Is worth noting that if you do not allow the geo location the site does still let you continue as if you could initiate the test. Then fails silently.

[2019-06-09 22:29] ryanrolds commented on #110
@antonioortegajr What versions of Safari?
@csjoblom What version of OSX and Safari? Any errors in the console?

Let's include fixing the lack of blocking reported by Antonio in this ticket. Also, check IE and Firefox.

[2019-06-09 22:43] antonioortegajr commented on #110
OSX 10.14.5 Safari 12.1.1 updated comment above.

[2019-06-10 01:30] noahbrenner opened #117 "Add rel="noopener" to all links with target="_blank""
This is a potential security & performance issue.

It's an easy fix, but we should decide whether to use just `rel="noopener"` or `rel="noopener noreferrer"`.

# Background

Short explanation: https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/
Some more detail, including the performance issue: https://medium.com/@ali.dev/how-to-fix-target-blank-a-security

[2019-06-10 02:03] ryanrolds commented on #117
No objections from me about `noopener`. I don't' mind sending referrer info to partnered sites as they may be paying attention to who is sending them traffic. What browsers don't support `noopener`? I *don't* sites we link to are going to abuse it, but I don't see a reason to not close the attack vector.

[2019-06-10 02:35] noahbrenner commented on #117
According to [Can I use](https://caniuse.com/#search=noopener), browsers without support for `noopener` and *with* support for `noreferrer` are:

* IE 11 (though `noreferrer` is only supported in later versions of Windows 10)
* Edge 13-18
* Firefox 33-51
* Chrome 16-48
* Safari 5-10 (support starts in 10.1)
* Opera 15-35
* iOS Safari 4-10.2
* Android Browser 2.3-4.4.4
* Blackberry Browser (all)
*

[2019-06-10 02:58] ryanrolds commented on #117
Looking at https://caniuse.com/usage-table, it looks like all of the browsers versions that don't support have very low usage numbers (like almost all are < 1%). Let's meet in the middle. For "partner" sites, only add `noopener`. For anything that is not a partner site we go the safe route and set both. Thoughts?

[2019-06-10 03:00] ryanrolds commented on #117
Are we concerned that social media sites won't get referrer information? @mattsayre

[2019-06-10 03:01] ryanrolds commented on #117
I want @bishoplafer's opinion on this too.

[2019-06-10 03:37] noahbrenner commented on #117
That mix of safe and keeping the referrer for partner sites makes sense to me. It'll definitely be good to get Matt's and Bishop's thoughts.

[2019-06-10 13:16] bishoplafer commented on #117
I think noopener is fine, sending the referral traffic to partner sites seems like something we should do. I am sure we want to know who our referrers are. It also seems to me that this is more of a vulnerability for traffic coming from a social media site as opposed to traffic we are sending away from SpeedUpAmerica.

[2019-06-10 13:23] ryanrolds commented on #117
As I understand the vulnerability, it's a page opened by _blank changing the window that opened it through window.opener.location.

Check out https://mathiasbynens.github.io/rel-noopener/

[2019-06-10 13:34] bishoplafer commented on #117
I read the article, so long as we are linking to reputable sites - I don't think it is much of an issue. What I meant was, if someone is trying to phish - it is more likely that they share a link or host one themselves. We don't have any malware on our site, so it isn't a security issue for us, rather a potential issue for our users. It seems like a pretty easy fix though.

[2019-06-10 13:46] ryanrolds commented on #117
Unless someone objects, let's go with noopener only on all links using _blank.

[2019-06-10 23:22] ryanrolds opened #118 "Collect accuracy details from geolocation api (1SP)"
We collect the lat and long provided by the browser. Accuracy is also available provided, but not collected. A core assumption is that the browser's location data is more accurate than IP based geocoding. To confirm this assumption we need to collect this accuracy information.

* Add a new column (default null, nullable, int) to the submissions table using the migrator repo
* Update the frontend t

[2019-06-12 20:10] noahbrenner commented on #117
Sounds great, I'll take care of that now.

[2019-06-12 20:48] websupergirl opened #119 "Speed Limits to 310 Mbps on Test"
<img width="408" alt="310" src="https://user-images.githubusercontent.com/38568655/59385188-acd6ca80-8d18-11e9-8c81-7b89dc0d2843.PNG">

[2019-06-12 23:14] ryanrolds commented on #119
Thank you. PR has been made. Waiting for someone to code review.

[2019-06-12 23:26] ryanrolds opened #122 "Added Verizon and XS Media to provider mapping and update DB (0.5SP)"
A couple of ISPs that are confusing users and we need to map them to friendlier/accurate names:

Cellco Partnership DBA Verizon Wireless -> Verizon
Online Northwest -> XS Media

Please add these mappings to https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/app/models/submission.rb#L358-L366.

Also, write a DB migration that updates all submissions with these names to the new names.

[2019-06-12 23:27] #119 closed

[2019-06-13 05:13] #117 closed

[2019-06-13 06:14] #112 closed

[2019-06-13 14:53] ryanrolds commented on #110
I will give anyone wanting to work on this temporary access to my BrowserStack account.

[2019-06-13 16:24] nohorse opened #124 "Fix using back button after a test preventing taking the test again (0.5SP)"
saw the notice to take the test on social media and so I did.  Then I wanted to take it again after testing my speed in other places.  hitting back and then trying again, the "let's do this" button doesn't pop up the test again.  refreshing the speed test page takes you back to the home page.  So it's a bit clunky.

[2019-06-13 16:28] nohorse opened #125 "submitting speed test very slow"
Taking the test the second time I thought maybe it crashed.  After the speed test I was stuck on a "data submitted" popup for about 20-40 seconds before it took me to the map.

[2019-06-13 16:34] ryanrolds commented on #125
When you took the test, what options did you select the first and the second time?

[2019-06-13 16:46] ryanrolds commented on #125
I just tried it to reproduce. I'm there are definietely some state issues related to using the back button.

I checked the logs and all of the submission times for `/submissions` is under 15ms. I suspect this is related to the Geolocation API taking a while to return a location, I recall we adjusted the submission path to wait until we get a location before it submits, but I would need to confirm.

[2019-06-13 16:51] nohorse commented on #125
this was my work laptop HP elietebook on a wifi connection.  No GPS radio and prolly a fusion sensor that is falling back on wifi or IP for location.

[2019-06-13 16:52] csjoblom commented on #110
My iMac is running:
OSX 10.14.6 Beta
Safari is 12.1.2

My macbook pro is running:
OSX 10.14.5
Safari is 12.1.1

Macbook now runs the test correctly, iMac does not. No console errors. Looks like this could be related to beta version of Safari, but may be an issue once it's fully released.

[2019-06-13 16:55] ryanrolds commented on #125
Can you attempt to reproduce with the dev tools open to the network tab and preserve logs turned on? If you see the issue please screenshot the entires surrounding the POST to `/submissions` and check the console output for errors. Thank you.

Also, what were options you selected when took the test the first and second time?

[2019-06-13 16:56] ryanrolds commented on #125
Browser and version and OS details would also be helpful, normal bug reporting stuff.

[2019-06-13 16:57] nohorse commented on #125
I'd love to dig deeper but I'm getting on a plane for Chatanooga.  I'll give it one last test and take some screen-grabs that might help a bit.

[2019-06-13 17:01] nohorse commented on #125
![image](https://user-images.githubusercontent.com/311063/59452037-b9fbc400-8dc1-11e9-817d-dd88e8b67203.png)
![image](https://user-images.githubusercontent.com/311063/59452099-d992ec80-8dc1-11e9-8afa-7f2f7b15aee4.png)
![image](https://user-images.githubusercontent.com/311063/59452155-f4fdf780-8dc1-11e9-9870-1ef616c35466.png)
![image](https://user-images.githubusercontent.com/311063/59452193-0515d7

[2019-06-13 19:12] ryanrolds commented on #125
@nohorse Please provide Browser and OS information.

[2019-06-13 19:23] nohorse commented on #125
Chrome on windows

Sent from my BlackBerry - the most secure mobile device
From: notifications@github.com
Sent: June 13, 2019 12:12 PM
To: SpeedUpAmerica@noreply.github.com
Reply-to: reply@reply.github.com
Cc: mark@markdav.com; mention@noreply.github.com
Subject: Re: [Hack4Eugene/SpeedUpAmerica] submitting speed test very slow (#125)

@nohorse<https://github.com/nohorse> Please provide Browser and

[2019-06-13 19:25] ryanrolds commented on #125
What versions?

[2019-06-13 19:25] #125 closed

[2019-06-13 19:26] ryanrolds commented on #125
Closing ticket because I'm tired of playing detail collection games with Mark. He knows how to submit proper bug reports.

[2019-06-13 20:09] Kourchenko commented on #114
https://paper.dropbox.com/doc/SpeedUpAmerica-Vector-Tilesets--Ae_Vs0m6bCOwqtbf35vyo4z2Ag-LKoxlUFlO2hCZycbjFaz5

Created Census Tracts for Oregon, FIPS Code 41

[2019-06-13 20:10] #114 closed

[2019-06-13 20:28] ryanrolds commented on #110
Interesting. Thank for clarifying the affected machine is a beta version of Safari. This is why we include browser versions. :)

https://imgur.com/gallery/0Na7qvJ

[2019-06-13 20:51] csjoblom commented on #110
Macbook pro is now on 10.4.6 Beta 2
Safari 12.1.2

Can't reproduce, going to assume it's the imac and not a general issue. We can reopen if others report.

[2019-06-13 21:52] csjoblom commented on #110
Reopening: looks like there is an issue when geolocation is available but it can't get a location.

https://files.slack.com/files-pri/T40B5U6PL-FK7AS0VJ6/image.png

Note that I do have Location Services enabled in OSX for Safari.

[2019-06-13 22:18] csjoblom commented on #110
So @ryanrolds was able to track down why this was happening. If you have wifi turned off (even if you are using ethernet) geolocation will not return a location in Safari.

We will still need to handle for this scenario, thanks Apple.

[2019-06-13 23:10] Kourchenko commented on #31
Closing ticket until we begin officially being the frontend redesign.
Design mockups can be seen here: https://app.zeplin.io/project/5cf0bdb6e0ee93091a9b5c12/dashboard

[2019-06-13 23:10] #31 closed

[2019-06-13 23:11] Kourchenko commented on #30
Closing ticket until we begin officially being the frontend redesign.
Design mockups can be seen here: https://app.zeplin.io/project/5cf0bdb6e0ee93091a9b5c12/dashboard

[2019-06-13 23:11] #30 closed

[2019-06-14 00:17] Kourchenko opened #126 "IPV6 address doesn't work with our submissions on "Take Speed Test""
Taking the speed test on Firefox causes the test to err, and an error page to be rendered.
**Browser: Firefox**

Steps to recreate:
1) Navigate to Home Page
2) Take Speed Test, fill out questionnaire, and hit "Test My Speed"
3) When test completes, I receive a sucessful text response in the modal and then am redirected to an error page

---
name: Bug report
about: Create a report to help us improv

[2019-06-14 16:59] #124 closed

[2019-06-14 18:43] ryanrolds commented on #124
Fix deployed.

[2019-06-14 20:41] noahbrenner opened #130 "Constrain star rating UI to its container at all viewport widths (0.5SP)"
**Describe the bug**

On the 2nd page of taking the test, the row of rating stars extends to the right, outside of the outlined box containing the form. This is only an obvious issue when the viewport width is between 992px and around 1200px

**To Reproduce**
1. Go to the SpeedUpAmerica home page
2. Click on "Take the Test!!"
3. Select any type of internet connection and click "Let's do this!"
4.

[2019-06-14 21:05] ryanrolds commented on #130
Solid bug report :)

[2019-06-14 21:52] mattsayre commented on #130
As part of this, can we have consideration for moving to a 5 star system? That is what sanjose is using. Seems generally more consistent with cultural norms (ie 5 start hotel).

[2019-06-14 22:24] ryanrolds commented on #130
No objections. We will need to write a database migration to adjust the ratings we have in the database.

[2019-06-14 23:03] ryanrolds commented on #122
PRs made. Waiting on review and deployment.

[2019-06-14 23:23] ryanrolds commented on #110
The fix for this would check specifically for the `POSITION_UNAVAILABLE ` error and showing a message to the users to turn on WiFi.

[2019-06-15 15:14] ryanrolds commented on #113
Should be useful https://docs.mapbox.com/mapbox-gl-js/example/multiple-geometries/

Don't be afraid to modify the response data and make it a feature collection.

[2019-06-16 22:17] ryanrolds commented on #126
Fixed by: https://github.com/Hack4Eugene/SpeedUpAmerica/pull/132

[2019-06-16 22:17] #126 closed

[2019-06-16 22:19] ryanrolds commented on #122
Deployed

[2019-06-16 22:19] #122 closed

[2019-06-17 03:17] ryanrolds opened #133 "Create endpoint that returns group by data for joining on to vector tilesets (2 SP)"
After implementing vector tilesets with Mapbox GL JS, we need to be able to request just aggregated (group by) statistics using a similar set of filters as the existing `GET /mapbox_data` endpoint (which includes boundary geometries, which vector tilesets replace).

Please Implement:

[code]

[2019-06-17 03:34] ryanrolds commented on #77
Blocked until we have vector tilesets and the ability to do point-in-polygon lookups

[2019-06-17 03:36] ryanrolds commented on #26
Closing, I created a better-defined ticket.

[2019-06-17 03:36] #26 closed

[2019-06-17 03:37] ryanrolds commented on #24
Closing, creating specific tickets.

[2019-06-17 03:37] #24 closed

[2019-06-17 03:37] ryanrolds commented on #25
Closing, creating a better defined ticket.

[2019-06-17 03:37] #25 closed

[2019-06-17 03:40] ryanrolds commented on #14
Do we have someone that wants to take up ownership of this? I'm going to attach 2 SP to the task of reaching out to these channels and getting them involved.

[2019-06-17 03:42] ryanrolds commented on #14
The 2 SP is contingent on reaching out to all groups, interacting with at least 50%, and reporting back the level of engagement, requests, and commitments from the groups.

[2019-06-17 15:24] nohorse opened #134 "Expunge Mark from the project"
As a bit of administratium, please remove me from the repo.

- [x] I'm listed on the TC and should be removed
- [x] I've submitted a few tickets that can be deleted as well

Good luck on what's shaping up as a fine project!

[2019-06-17 23:35] ryanrolds commented on #134
https://github.com/Hack4Eugene/SpeedUpAmerica/pull/136

[2019-06-17 23:50] #134 closed

[2019-06-19 22:30] ryanrolds opened #137 "Create POST /contact endpoint for contact form(s) (2SP)"
**Is your feature request related to a problem? Please describe.**
We need to add contact forms to the site for collecting inquiries/questions and issue reports. To do this we will need to add an endpoint that receives the details from the forms and creates a ZenDesk ticket.

**Describe the solution you'd like**
An endpoint at `POST /contact` that would consume name, email, type (dropdown: questio

[2019-06-21 20:11] ryanrolds commented on #137
Closing. Using ZenDesk Web Widget.

[2019-06-21 20:11] #137 closed

[2019-06-22 07:08] ryanrolds opened #142 "Generate National ZCTA vector tileset (1SP)"
**Is your feature request related to a problem? Please describe.**
We need to generate a mbtiles vector tileset for ZIP Code Tabulation Areas. Generate the new ZCTA tileset by following the directions at https://paper.dropbox.com/doc/SpeedUpAmerica-Vector-Tilesets--AfgKOvJnYEhXQ4rFoQ3nEGrMAg-LKoxlUFlO2hCZycbjFaz5 and using the ZCTA shapefiles at https://www.census.gov/geographies/mapping-files/tim

[2019-06-24 00:53] ryanrolds commented on #142
Done. Tileset is on our Mabpox account and uploaded to S3.

[2019-06-24 00:53] #142 closed

[2019-06-25 16:43] JCoulter85 commented on #6
I might be able to aid with this. With my experience as a digital content creator I can create several different designs to choose from. I would like to discuss this topic and brain storm ideas.

[2019-06-25 17:29] ryanrolds commented on #130
Don't worry about adjusting the number of stars. I will make another ticket for that as it requires a DB migration.

[2019-06-29 17:00] #133 closed

[2019-06-29 17:00] #113 closed

[2019-06-29 17:00] ryanrolds commented on #118
Unassigning Kirk at his request.

[2019-06-29 17:02] ryanrolds commented on #110
I started collecting the specific PositionError codes and messages in Sentry.io. We see a lot of errors about users blocking access to user location. We need to rethink how and when we prompt people. We also may need to consider falling back to IP based geocoding.

[2019-06-29 17:17] ryanrolds opened #153 "Implement statistics caching"
**Is your feature request related to a problem? Please describe.**
Calculating medians in real-time doesn't scale. It's likely that switching to average would help, but aggregating a lot of the submissions table with each map and explorer load won't be performant when the submissions tables have several million records.

**Describe the solution you'd like**
Implement a cache table that will hold p

[2019-06-29 17:18] ryanrolds commented on #118
In another PR to migrator, I've added the accuracy column. Once merged this ticket only needs to update logic in the frontend and backend to collect and store the accuracy info.

[2019-07-01 04:16] JCoulter85 commented on #130
I have found that if we choose to go the 5 star rout there isn't a resizing issue within the form [with stars spilling outside of the form field]. Please let me know if you would like me to solve the 7 star resize issue within the form, or just remove 2 of the stars and continue with that rout.

[2019-07-01 04:19] ryanrolds commented on #130
Removing the two stars will require a DB migration that adjusts the current DB records that already collected ratings. There may also be math that depends on the previous number of stats. Please check all places that touch the ratings.

[2019-07-02 21:49] Kourchenko commented on #111
https://github.com/Hack4Eugene/SpeedUpAmerica/wiki/Developer-OnBoarding-Start

[2019-07-03 00:15] mattsayre commented on #111
One thing I did was our slack channel a default when you join, sorry I didn't mention that before. This inviter seems to work pretty well. Updating page with that.

[2019-07-03 00:26] mattsayre commented on #111
Looks good, closing.

[2019-07-03 00:26] #111 closed

[2019-07-03 22:33] Kourchenko opened #155 "Request location permissions and provide context; UI Fix (3SP)"
**Describe the bug**
We've noticed a spike in GeoLocation errors (on Sentry), which stem from a user not allowing us permission to use their location (i.e. blocking the browser from retrieving user location).  The issue leads to inaccurate data and an overall bad user experience. The error message is never presented to the user; the user only sees that they are unable to click on the button "Test

[2019-07-05 20:31] ryanrolds commented on #118
The accuracy changes have been merged. Make sure to pull the latest changes in mater and `docker-compose up --build mgirator` from the `SpeedUpAmerica` repo to get them.

[2019-07-11 03:14] ryanrolds commented on #153
This is done.

[2019-07-11 03:14] #153 closed

[2019-07-16 22:12] #118 closed

[2019-07-17 03:03] mattsayre commented on #50
With vector tile sets the statistical boundaries are more clear and additional outlines are no longer needed.

[2019-07-17 03:03] #50 closed

[2019-07-17 03:16] mattsayre commented on #32
This ticket now overlaps another, closing.

[2019-07-17 03:16] #32 closed

[2019-07-17 03:21] mattsayre commented on #6
This is already in progress outside of Github. Matt will talk with Bishop and Santiago to recognize Story Point distribution.

[2019-07-17 03:21] #6 closed

[2019-07-17 03:26] mattsayre commented on #77
Census blocks are going to be part of the on-request reporting service and not something we plan to take on with the publicly facing map at this time.

[2019-07-17 03:26] #77 closed

[2019-07-17 03:30] mattsayre commented on #55
This one is about half way fixed. When you slick the X in the filter next to the word All, the map should not render and the filter field should say "Select an ISP".

[2019-07-17 03:34] mattsayre commented on #48
My understanding is that these have been cleaned. The word was done incrementally in other PR's.

[2019-07-17 03:34] #48 closed

[2019-07-17 03:34] mattsayre commented on #29
This issue has been resolved in another ticket.

[2019-07-17 03:34] #29 closed

[2019-07-17 23:38] Kourchenko commented on #155
7/15 - Deployed to test.speedupamerica.com
7/17 - Fixed issue with Address input and improved UI (Thanks Stephen Parac)

[2019-07-17 23:38] #155 closed

[2019-07-17 23:39] Kourchenko commented on #110
Issue addressed. Issue occurs when WiFi is not enabled.
7/17 - Issue fixed by informing the user to turn on WiFi and enable Location Services.

[2019-07-18 17:08] Kourchenko opened #170 "Log Differentiation - Safari WiFi bug vs Location Denied (1 SP)"
**Is your feature request related to a problem? Please describe.**
As a developer looking at logs, I want to see a differentiation between when a user denies permission and when the permission denied is caused by browser incompatibilities. As such, we should add logic to log when an error is caused by location permission asked, then user denied and when an error is caused by simple location permis

[2019-07-18 17:34] Kourchenko opened #171 "UI Feature - Notify User on Location Issue (1 SP)"
**Is your feature request related to a problem? Please describe.**
As a user, I want to know why my location isn't working properly on certain browsers, but is working on other browsers. A prompt appears on Chrome/Firefox for location services, but not on Safari/others. I want to know when it is an issue with my browser that I can fix, and when it is an issue with my previous denial of location pe

[2019-07-18 23:54] #110 closed

[2019-07-23 20:51] Kourchenko opened #175 "Use SUA Algolia Account API (1 SP)"
Create and make use of Algolia API under SUA account.
Update code to use APP_ID and API_KEY.
Store APP_ID and API_KEY in ECS Task Definitions, in both test/prod clusters.
Update Task, in both test/prod clusters, to use latest Task Definition.

[2019-07-24 21:46] #130 closed

[2019-07-24 22:45] Kourchenko commented on #175
7/24 Deployed to Test and Production.

[2019-07-24 22:45] #175 closed

[2019-07-26 22:45] mattsayre opened #178 "Make sure we are setting client_application to speedupamerica (SP1)"
Make sure we are setting client_application to speedupamerica for tests run through SUA. May requiring updating NDT JS library.

[2019-07-26 22:47] mattsayre opened #179 "Enhance Explore the Data, Internet Service Providers, to auto populate top 3 ISP’s (2SP)"
Enhance Explore the Data, Internet Service Providers, to auto populate top 3 ISP’s for the defined statistical boundary. Where “top” is defined as median download speed. Include user’s ISP as a 4th ISP

[2019-07-28 18:29] ryanrolds commented on #178
Once updated, try setting `speedupamerica` for the setting found at https://github.com/m-lab/ndt-javascript/blob/master/src/ndt-client.js#L64. Don't adjust the library, when instantiating the client it should be possible to change that setting value.

[2019-07-29 01:49] ryanrolds commented on #179
At this time we only have ZIP. In a future change, we will have boundaries. As part of this ticket also center the map and zoom it in near the user's locations.

[2019-08-15 05:14] ryanrolds commented on #115
Thanks Kirk.

[2019-08-15 05:14] #115 closed

[2019-08-16 20:08] khutchison opened #190 "Site Freezes at 100% Upload Speed Test (2 SP)"
**Describe the bug**
I noticed that the speed test stopped at 100% while I was investigating another issue at home.

**To Reproduce**
Take internet speed test using browser location (haven't checked others). I've attached the console logs and a screenshot. I tried to reload the site and do the test again and the issue recurred.

**Desktop (please complete the following information):**
 - OS & Vers

[2019-08-16 20:11] khutchison commented on #190
I tried again on Google chrome and it works there, so it seems to be specific to Firefox.

[2019-08-17 20:09] ryanrolds commented on #190
It's not specific to Firefox. The issue is M-Lab serves a mix of v4 and v5 NDT servers. v5 exposes a race condition in the protocol and requires an update to the client to mitigate. They just merged changes (https://github.com/m-lab/ndt-server/pull/172) to their current NDT5 (v5) JS client. We need to switch out current implementation using the updated client.

I'm setting this ticket to 2SP and m

[2019-08-20 04:11] ryanrolds opened #192 "Some fields user fill out before the test runs have default values (0.5 SP)"
**Describe the bug**
We want the data we collect from users to be as accurate as possible. Fields that have default values may not be correct and will cause the default value to be over-represented in the data.

**Expected behavior**
All fields are blank/null by default and result in null/blank info in the database.

Go through the forms we have users fill out and ensure that none have default val

[2019-08-20 19:12] JCoulter85 commented on #171
171 has been completed and merged. Looking good :+1:

[2019-08-20 19:14] #171 closed

[2019-08-20 19:17] JCoulter85 commented on #170
It looks like this issue has been resolved in a different ticket. Good to close. 👍

[2019-08-20 19:17] #170 closed

[2019-08-20 19:19] JCoulter85 commented on #190
Looking into the issue. Thank you for the detailed write up.

[2019-08-22 16:22] ryanrolds commented on #190
It's already fixed.

[2019-08-22 16:22] #190 closed

[2019-08-24 17:33] ryanrolds commented on #179
I added myself, Kirk and Diego to the assigns. We all worked on the PR and I think it should be divided three ways.

[2019-08-24 17:33] ryanrolds commented on #179
This has been merged for testing.

[2019-08-24 17:36] ryanrolds commented on #178
The NDT client has been updated. It's going to take some exploration to figure out how to get our client_applciation set.

[2019-08-24 18:02] ryanrolds opened #195 "Add Montana and improve documentation for the process (2SP)"
**Is your feature request related to a problem? Please describe.**
We need to slowly add states and monitor performance. It's been a month since we added WA and ID and we maintain the pace. At this time we have a [very basic section in our vector tileset documents on loading boundaries](https://paper.dropbox.com/doc/SpeedUpAmerica-Vector-Tilesets-Boundaries--AjfETJpBTD6xX23T6la~VDUKAg-LKoxlUFlO2hC

[2019-08-24 18:23] ryanrolds opened #196 "Remove `obfuscate_id` gem and switch submissions results id to using `test_id` field (1SP)"
**Is your feature request related to a problem? Please describe.**
To upgrade to Rails 5+ we need to stop using the `obfuscate_id` gem. Submissions created via our site have a test_id which is a good substitute. Once this is done we can upgrade to Rails 5 or 6.

**Describe the solution you'd like**
* Remove the gem from the submissions model and update the submissions controller to use the submiss

[2019-08-24 18:26] ryanrolds opened #197 "Create small tests data set for local development (1SP)"
**Is your feature request related to a problem? Please describe.**
The database dump we currently use is several GB and takes significant time to load depending on hardware.

**Describe the solution you'd like**
Create a small smaller DB dump that includes a set of date in each table. Try to keep the dump under 250MB.

[2019-08-24 18:34] ryanrolds opened #198 "Change Megabyte to Megabits (0.5SP)"
In the home internet pathway, it says "Megabytes Per Second". We need it to say " Megabits Per Second". Double-check and make sure the rest of the codebase uses "Mbps" and not "MBps" and other unit inaccuracies.

[2019-08-24 19:05] mattsayre commented on #195
After talking with Ryan we are going to prioritize Mississippi. The reason for this is that US Senator Roger Wicker heads the Senate Committee where broadband mapping is being actively discussed ahead of federal legislation.

[2019-08-25 15:09] #198 closed

[2019-08-27 03:55] ryanrolds opened #203 "Move boundary loading rake task to migrator repo (2 SP)"
**Is your feature request related to a problem? Please describe.**
Each night we are checking if any boundaries need to be added. This is unnecessary as we only add boundaries about once a month.

**Describe the solution you'd like**
Move the boundary files and the Rake task for loading them from the main repo to the migrator repo. This ticket should result in two PRs one that adds the Rake task,

[2019-08-28 22:04] ryanrolds commented on #78
Can we use a series of smiley faces or thumbs up/down and neutral?

[2019-08-28 22:05] ryanrolds commented on #78
Or even with buttons rather then stars as I don't think stars a fitting iconography.

[2019-09-05 00:07] ryanrolds opened #204 "Add "How" paragraph to home page (0.5 SP)"
**Is your feature request related to a problem? Please describe.**
Robert pointed out that our home page is missing "How?" information. Work with Matt on filling this gap on our home page.

**Describe the solution you'd like**
An additional paragraph on "How" we will help communities improve their internet.

[2019-09-05 00:07] ryanrolds commented on #204
Miguel is working on this.

[2019-09-05 00:14] ryanrolds opened #205 "Update image used in social meta tags (0.5 SP)"
**Is your feature request related to a problem? Please describe.**
The image used for Facebook is the old logo, we should use the new logo . Make sure the logo confirms to recommendations for the different social meta tags.

**Describe the solution you'd like**
Update any social meta tags to use the new logo and make sure that the image used conforms to recommendations for that tag.

[2019-09-06 01:25] coatsd commented on #205
I can do this one to dip my toes in.

[2019-09-06 01:43] coatsd commented on #205
Do we want to keep the same color pallet as the last one?

[2019-09-06 02:22] ryanrolds commented on #205
Are you thinking about making a new logo? We have an updated logo. If there are issues with the dimensions and what the different social media tags want we can see about getting a modified logo.

[2019-09-06 02:24] coatsd commented on #205
Naa, I downloaded the Facebook and twitter logos from their brand websites. I just wanted to make sure we wanted the white versions. I already have a copy ready to be pushed to a new branch, I just need permission.

[2019-09-06 02:25] ryanrolds commented on #205
Oh. I think we want to use our logo, not FB or Twitters.

[2019-09-06 02:25] coatsd commented on #205
Oh, okay. Yeah, if you have a file, feel free to send it over so I can plug it in.

[2019-09-06 02:26] coatsd commented on #205
Or is it in there?

[2019-09-06 02:26] ryanrolds commented on #205
Check the images in the repo (app/assets/images/...) if there isn't a version that meets the requirements we can have one made.

[2019-09-06 02:29] coatsd commented on #205
Yeah, there isn't another one in there.

[2019-09-06 02:30] ryanrolds commented on #205
That meets the requirements? What are the requirements that are not met? Make a list of what we need and post it in the channel. We can get it taken care of.

[2019-09-06 02:37] coatsd commented on #205
I'm confused. I thought we just wanted to use the new social media tag for Facebook because the one we had wasn't current. I personally don't see anything wrong with what we were using, but I thought it was just a minor update to the logo for aesthetics.

[2019-09-06 02:38] coatsd commented on #205
I also thought the requirements were in reference to Facebook's kind of "terms of use" with their logos.

[2019-09-06 15:47] ryanrolds commented on #205
The stopwatch image is the old logo, the ticket it to replace it with the new logo. If we don't have a version of the new logo that confirms to Facebook, Twitter, and LinkedIn (I think, I would have to look at what social meta tags we have) then ones will need to be made from the source. If we don't have a PSD (or whatever master format we used) then we will need to get that.

[2019-09-07 18:36] ryanrolds commented on #197
I'm taking this ticket and will wrap it up this weekend.

[2019-09-07 18:47] ryanrolds commented on #179
This has been released.

[2019-09-07 18:48] #179 closed

[2019-09-07 18:59] ryanrolds opened #207 "Create instructions for setting up Docker Toolkit (1 SP)"
**Is your feature request related to a problem? Please describe.**
Not everyone has Windows 10 Pro, MacOS, or a Linux machine. Getting Docker to work on Windows 10 Home requires using a deprecated tool called Docker Toolkit that is tricky to setup.

**Describe the solution you'd like**
Create/update the wiki to include instructions on how to set up our project with Docker Toolkit.

[2019-09-07 19:00] ryanrolds commented on #207
https://github.com/Hack4Eugene/SpeedUpAmerica/wiki/Docker-for-Windows

[2019-09-07 19:04] ryanrolds commented on #207
Great work, Antonio and Daniel confirmed Jim's new instructions worked.

[2019-09-07 19:04] #207 closed

[2019-09-14 20:22] ryanrolds commented on #192
Resolved by https://github.com/Hack4Eugene/SpeedUpAmerica/pull/210

[2019-09-14 20:58] ryanrolds opened #211 "Report on options for faster calculation of medians (1 SP)"
**Is your feature request related to a problem? Please describe.**
We currently calculate, store, and show median speeds for support boundaries and ISPs. Medians are calculated as part of one, or two, Rake taskes (`update_stats_cache` and possibly `update_providers_statistics`).

The problem is it requires downloading all upload and download speeds from the DB (over 6M records) and calculating the

[2019-09-15 19:37] #192 closed

[2019-09-15 20:48] ryanrolds commented on #196
Kirk completed this almost 3 weeks ago.

[2019-09-15 20:48] #196 closed

[2019-09-15 20:52] ryanrolds opened #212 "Upgrade project to Rail 5.2 (1 SP)"
**Is your feature request related to a problem? Please describe.**
Rails 6.0 was released recently. All active software should be maintained and kept at least on a version getting security updates. At this time 4.2.12 is getting security updates but that will be ending soon.

**Describe the solution you'd like**
Update this project to use Rails 5.2. Confirm the best way to go about this, it may re

[2019-09-15 20:57] ryanrolds opened #213 "Upgrade migrator to Rails 5.2 (1 SP)"
**Is your feature request related to a problem? Please describe.**
Rails 6.0 was released recently. All active software should be maintained and kept at least on a version getting security updates. At this time 4.2.12 is getting security updates but that will be ending soon.

**Describe the solution you'd like**
Update the [migrator](https://github.com/Hack4Eugene/speedupamerica-migrator) to Rails

[2019-09-15 21:10] ryanrolds opened #214 "Update map to use Mapbox Enterprise tilesets (1 SP)"
**Is your feature request related to a problem? Please describe.**
Recently Matt was able to get the project access to Mapbox Enterprise Boundaries, which includes a richer and better-optimized collection of vector tilesets. Currently, we have to generate and maintain our own tilesets, making adding boundaries like states more difficult. Mapbox Enterprise Boundaries avoid the work having to mainta

[2019-09-18 00:16] #178 closed

[2019-09-23 00:35] #197 closed

[2019-09-23 17:25] khutchison commented on #78
[thumbs.pdf](https://github.com/Hack4Eugene/SpeedUpAmerica/files/3643354/thumbs.pdf)

[2019-09-26 00:43] JCoulter85 commented on #214
I have made the changes as requested and have found that there wasn't any data in the map. I'd love to help resolve this if i could.

[2019-09-26 02:13] ryanrolds commented on #214
It looks like the issue is related to the IDs and the field in the Mapbox Enterprise Boundaries being different then the layers we made. Our database and layers use FIPS codes to id boundaries and Mapbox has its own identifier it uses for geometries in the vector tileset.

We are going to have to do a few things:
* Add a `mapbox_id` column to our boundaries tables
* Populate the `mapbox_id` for th

[2019-09-29 01:49] khutchison opened #217 "Add tests for backend, map/explorer data"
**Is your feature request related to a problem? Please describe.**
Right now our codebase is mostly untested. By adding tests we will make the project significantly more maintainable, and it will be easier to make changes in the future.

**Describe the solution you'd like**
Per discussion with @ryanrolds I'd like to start with tests on the backend, specifically the structure generated and sent to

[2019-10-20 20:22] ryanrolds commented on #204
This was completed by Miguel.

[2019-10-20 20:22] #204 closed

[2019-10-20 20:29] ryanrolds opened #221 "Add a capabilities table to results (user and area) (2 SP)"
**Is your feature request related to a problem? Please describe.**
A user reported that they didn't understand the results as it's mostly jargon. The feedback is understood to mean that Mbps isn't meaningful to some users.

**Describe the solution you'd like**
Add a table to the user results (above the map) and the area results that show what a user can do with their results (or the median speeds

[2019-10-21 20:09] ryanrolds opened #224 "Add "Include M-Lab data" filter to map filters (2 SP)"
**Is your feature request related to a problem? Please describe.**
Occasionally we would like to visualize only SUA data. This is extra important when viewing Census Blocks.

**Describe the solution you'd like**
Add a map filter that controls if M-Lab data is included in the data shown to users. The filter should be enabled (include M-Lab) by default and it should be a checkbox. When the checkbox

[2019-12-11 05:01] mattsayre opened #230 "Nightly Process Broken (2SP)"
"Number of Tests Per ISP" graph about 3/4ths of the way down the page of https://speedupamerica.com/all-results is showing a decreased number of tests. The decrease is in the middle of November, which would seem to indicate that the issue started at that time. There is a nightly data update process, it is likely that it is that process that needs attention.

[2019-12-11 17:20] ryanrolds commented on #230
The place to start is the CloudWatch logs on AWS, that is where the output from the nightly jobs get stored.

[2019-12-11 17:22] ryanrolds commented on #230
My guess is that the M-Lab import may not be working.

[2019-12-12 14:51] critzo commented on #230
Hi there SUA team. The issue with decreased test volume is a result of our recent platform transition to Docker/Kubernetes. In November specifically, once the FCC MBA program completed, the M-Lab team completed a series of upgrades to the remaining servers in the US.

The old NDT server and ETL pipeline made data available in these BQ views:
- `measurement-lab.ndt.downloads`
- `measurement-lab.ndt

[2019-12-12 15:01] ryanrolds commented on #230
Was there a notice about the switch that we missed? Where do we need to be looking to catch breaking changes like this?

[2019-12-12 15:11] ryanrolds commented on #230
One thing Production doesn't have is monitoring. If the data import process isn't working or we importing 0 records from M-Lab a notice should be sent to Slack. Without monitoring, we always going to catch these things weeks late.

[2019-12-12 15:18] critzo commented on #230
@ryanrolds Unfortunately, there was not a notice explicitly about this impact of our platform transition. Our engineers have blogged about the transition generally, but not about the change in tables. This is totally on M-Lab and I apologize that there wasn't advanced notice. I'm bringing this to our team's attention. We need to establish a notification channel for downstream data users like SUA.

[2019-12-14 22:25] mattsayre opened #232 "Move icons up, on hompage (.5 SP)"
on homepage move "take the Test" and "view results" icons above the explanatory text paragraphs. This will make it more obvious for users about that their next step is in the process. see speedupsanjose as reference example.

[2019-12-14 22:40] mattsayre opened #233 "About & FAQ Pages (1 SP)"
Add traditional top of page primary navigation, replacing buttons for FB, Twitter, Linkedin with links to sub pages. Create and add links to two new sub pages  'About" and 'FAQ.  Add additional links to pages “View Map” and “Take the Test”. Example nav inplementation at speedupsanjose.com

Content for these two pages has been drafted and can be found here: https://drive.google.com/drive/u/2/folder

[2019-12-16 18:43] critzo commented on #230
I've reviewed the current queries in [submissions_importer.rb](https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/app/classes/submissions_importer.rb) and written the two queries below as replacements which use the new tables in their current state:

**Upload**
[code]
**Download:**
[code]

I've also received commitment from our dev team that the unified `ndt5` table/view will be completed b

[2019-12-17 05:36] mattsayre commented on #230
Thank you for the updated queries Chris!

[2019-12-26 17:41] ryanrolds opened #236 "Document and integration switch required prior to Feb 2020"
All SUA related documents and integrations need removed from my accounts. Currently there are project documents on my Dropbox Paper account, which are Markdown and can copy and pasted elsewhere. There are likely integration between my GitHub account and AWS CodeBuild/CodePipeline, which will need to be reconfigured using someone else's account. There may also be integrations in Slack.

At the end

[2020-01-19 20:10] mattsayre commented on #236
Per Ryan's request, I have created case with AWS to transfer site dependencies services from Ryan's account to my AWS account under the same org. In regards to the document migration, I will copy/paste into publicly available documents on the SUA Google Apps account.

[2020-01-19 21:38] ryanrolds commented on #236
To ensure that all documents on Dropbox Paper are copied, I've add you (@mattsayre ) to the SUA folder in Paper.

[2020-01-19 22:46] mattsayre opened #237 "test"
test

[2020-01-19 22:47] #237 closed

[2020-01-19 22:48] mattsayre commented on #237
test completed

[2020-01-19 22:49] mattsayre commented on #236
Regarding Github > Slack integration, just read this KB article that says:

"If you use other Slack apps, you might notice some changes in the way GitHub is installed. This particular app functions at your workspace level, rather than at the member level. This is a good thing! Here's why:

The app will never disconnect should the original installer ever leave your workspace."

https://slack.com/he

[2020-01-19 23:31] ryanrolds commented on #236
Then that may not be an issue.

[2020-01-20 15:57] mattsayre opened #238 "CSV export with Oregon Census Block identifier (2SP)"
Chris Tamarin who is the State of Oregon's lead person at the Oregon Broadband Office reached out to SUA and introduced Gary Dunmore of the Strategic Networks Group (SNG). The State of Oregon has contracted with SNG on a statewide broadband assessment, which looks at a number of factors including actual on the ground speed. SNG has asked for our Oregon data with the geocode attribute included. Rig

[2020-01-20 18:40] ryanrolds commented on #238
The lat+long accuracy information should be included, even if the lat+long isn't sent for privacy reasons.

[2020-01-23 00:48] #238 closed

[2020-02-01 01:52] mattsayre commented on #236
@ryanrolds I was able to successfully "Move" all but two paper documents to a new folder. These two I didn't have the necessary permission on:
https://paper.dropbox.com/doc/SpeedUpAmerica-Data-NySR8sOYnUQCCB135eUTO
https://paper.dropbox.com/doc/SpeedUpAmerica-Infrastructure-q14UbYbhzyEM6mqaiN05d

[2020-02-01 02:06] mattsayre commented on #236
AWS has advised that:
"So basically, after carefully  reviewing your account, I was able to see that the account that you mentioned has no active resources and the one that actually have them is yours.  So I would like to know if you can confirm which are the services that are supposed to be on the other account for me to see them and also to check which are the right steps to take. "

I looked at

[2020-02-03 15:05] ryanrolds commented on #236
I have removed access to all Paper documents that I'm "owner" on. If they were not **copied** to a new account like I instructed in the original post then access may have been lost. If access needs to be restored so that you can copy them let me know.

[2020-02-03 15:19] mattsayre commented on #236
Hi Ryan, there were just two documents that appeared to have different permissions than the rest:
https://paper.dropbox.com/doc/SpeedUpAmerica-Data-NySR8sOYnUQCCB135eUTO
https://paper.dropbox.com/doc/SpeedUpAmerica-Infrastructure-q14UbYbhzyEM6mqaiN05d

If Edit permissions can be granted on those 2 documents, I can copy them over, like was done with the other 10. Thank you!

[2020-02-03 15:30] ryanrolds commented on #236
I don't think you understand the difference between a move and a copy. The previous documents appeared to be moved and not copies as I'm still the "owner", which can't be transferred on a non-business account.

You need to actually create a new document and copy the contents so that you are the owner of the document.

[2020-02-03 15:46] mattsayre commented on #236
Thank you Ryan. All 12 documents have been copied over to a new folder. I'll work on re-linking them into the wiki next.

[2020-02-03 18:05] ryanrolds commented on #236
I've removed myself from the TAO AWS accounts, the GitHub repos, and the Hack4Cause GitHub org.

[2020-02-03 18:06] #236 closed

[2020-02-29 20:32] mattsayre opened #243 "Data extract in support of Oregon Broadband Report (1SP)"
CSV export of Oregon data, for State of Oregon research report, including results for census blocks.

[2020-02-29 20:33] mattsayre commented on #243
Data shared with state and aggregated with other data sources to affect positive change in Oregon. Thank you Diego!

[2020-02-29 20:33] #243 closed

[2020-03-02 05:52] Kourchenko commented on #230
Code merged. Will monitor nightly data imports.

[2020-03-02 13:54] critzo commented on #230
Saw this get merged and wanted to ping with an update that our team is working now to complete the "unified" upload and download views, which I'm expecting in ~1 week. I'll be in touch with you as soon as that is ready.

I also noticed in reviewing my queries above, that there's an error I didn't catch in the **download** query. This line in the WHERE statement: `AND ndt5.result.C2S.UUID = tcpinfo

[2020-03-05 02:49] #232 closed

[2020-03-05 02:49] #205 closed

[2020-03-05 21:48] noahbrenner commented on #233
A couple questions for you, @mattsayre:

1. Do we have a mockup, or do you have an idea in mind, for how to structure & place the nav links? You mentioned *replacing* the social media buttons. The San Jose site still has those buttons but has nav links in the very top bar (which close into a hamburger menu on narrow viewports like phones).

2. I see the Google Drive document for the FAQ, but I'm n

[2020-03-06 04:56] mattsayre commented on #233
The issue that we're working to resolve is to make it more obvious that "Take the Test" and "View Results" are the two things that we want the user to hone in on.  Based on that primary purpose, the social buttons are a distraction. The word replace was not the best choice on my part. Better to just say remove those social buttons.

Yes on the About page. Parse that "How did SpeedUpAmerica come to

[2020-03-09 23:13] alexandracorvello commented on #233
Hi Noah,
Agree with Matt and apologies about the google doc confusion. I don't know if this would be a separate issue but if you are working on the home page could you get rid of the "Questions about speedupamerica.com? Find more information here." (see attached file or at least I hope I attached a file). That link to GitHub has been included in the FAQs page.  Thank you!

[2020-03-09 23:30] alexandracorvello commented on #55
I think having the default as All is the better user experience because visually it is more interactive from the start instead of being confronted with a blank map.

Another issue with the map is some typos:
1) as you can see in the screenshot above it the legend says "Download Speed", this should just say "Internet Speed" because you can view both upload and download speeds on the map.

2) When y

[2020-03-11 22:43] noahbrenner commented on #233
Thanks to both of you for the clarifications! I haven't officially assigned myself this ticket yet, but I plan to do so when I have a little time, likely within the next week or so (unless someone else has time sooner and takes the ticket).

@alexandracorvello -- I'm not seeing an attached file. Would you try either providing a link to it or writing your comment directly on the GitHub website, rat

[2020-03-20 04:36] noahbrenner commented on #233
Looking over this ticket again, I'm thinking the scope is creeping a bit and we *would* do well to separate it into several issues. That will also help compartmentalize our discussions about each aspect. Unless there are objections, I'll go ahead and create them:

1. Top of the page adjustments: Change the nav menu and remove the social media links
2. Add About & FAQ pages (this ticket, no need fo

[2020-03-20 22:27] noahbrenner opened #249 "Add navigation links to top of page (1SP)"
**This issue was split off from #233 to reduce its scope.**

## Quotes from the parent issue:

*NOTE: The San Jose site has an expired certificate, but seems to be OK, just use caution. I'm not sure their design is what we want, but it doesn't hurt to take a glance.*

## My understanding/interpretation (open to discussion)

Things to do:

* [ ] Remove social media links from the top of the home pa

[2020-03-20 22:39] noahbrenner opened #250 "Delete GitHub link from homepage"
## Updated solution

* Remove the following text from its current location on the homepage:

* Add the following text at the bottom of the page (possibly in the footer so that it's on every page?):

## Original issue description

**This issue was split off from #233 to reduce its scope.**

From @alexandracorvello:

The text to remove is below the "Take the Test!!" button and above the partner link

[2020-03-20 22:43] noahbrenner commented on #250
I think it makes sense to remove the text and link from that spot, but I'd also like to see a link to our GitHub repo directly from the home page.

The purpose I'm envisioning for the link would be different from that of the current text: Rather than being a place to get information on the project, it would be an invitation for people to contribute to our open-source project.

Maybe that link woul

[2020-03-20 22:49] noahbrenner commented on #233
I've created new issues to split of some tasks from this one:

#249 for adding a nav menu - This one must be resolved first so that we *have* a nav menu to add About & FAQ links to, so I've added the `blocked` label to the current issue.

#250 for deleting the GitHub link from the home page - I'm interested in a little discussion on this one.

*This* issue can now focus just on creating the About

[2020-03-20 22:51] alexandracorvello commented on #233
Thank you for doing that! Sounds like a good idea for putting the gihub link on the FAQ page.

Best,
Alexandra

From: Noah Brenner [mailto:notifications@github.com]
Sent: Friday, March 20, 2020 3:49 PM
To: Hack4Eugene/SpeedUpAmerica
Cc: CORVELLO Alexandra E; Mention
Subject: Re: [Hack4Eugene/SpeedUpAmerica] About & FAQ Pages (.5 SP) (#233)

[EXTERNAL ⚠]

I've created new issues to split of some ta

[2020-03-31 16:51] alexandracorvello commented on #250
Apologies about the late response, life has been a bit hectic since lane county declared a disaster emergency. I would put in something like “This website is powered by volunteers through GitHub, if you would like to help contribute to the SpeedUpAmerica website please go here (hyperlink) to help”  What do you think?

[2020-04-06 02:13] noahbrenner commented on #250
No worries! I like your version being more explicit about the details and I wonder if we could be just as clear while making the text a little more concise. Maybe something like this?:

[2020-04-06 15:12] alexandracorvello commented on #250
That sounds good. I like your shortened version.

[2020-04-09 23:24] noahbrenner commented on #250
Sounds great, I'll update the issue description.

[2020-05-28 03:05] #230 closed

[2020-07-03 22:32] noahbrenner opened #255 "Get location detection working on Firefox (1SP)"
**Describe the bug**
When running a speed test using Firefox, the page does not recognize that location access has been granted. (Accessing location data *does* work on Chrome.)

**To Reproduce**
1. Start Firefox and go to the [home page](https://speedupamerica.com/)
2. Click on the "Take the Test!!" button
3. Select the "Use my browser's location" checkbox
4. Click the "Get My Location" button
5.

[2020-07-07 01:28] Kourchenko opened #256 "Move SpeedUpAmerica from using EC2 Instances to Fargate"
**Backstory**
The current ECS Instances require a large (8GB) memory allocation in order to process the nightly import data. We recently had to upgrade from 4GB to 8GB in order to successfully process the nightly process for SpeedUpAmerica Gamma and Alpha sites. There are 3 ECS Instances for Gamma at 8GB and 3 ECS Instances for Alpha at 8GB, which doubles the cost for each instance each month, for

[2020-07-07 01:39] Kourchenko opened #257 "(1 SP) Allocate Memory to ECS Instances for Gamma and Alpha for Nighly Data Process"
**Describe the bug**
The current memory for the Nightly Data process does not allow the process to complete successfully.
Updating the Stats Cache and calculating the median value results in an Out of Memory Error from AWS.
There are 3 ECS Instances for each environment, Gamma and Alpha, that are capped at 4GB each.

** Task **
Please fix the Out of Memory issue for each environment so that the Ni

[2020-07-07 01:59] Kourchenko commented on #257
This was completed a few days ago by me.
In order to allocate more memory, I went into the SUA AWS Account
1. Navigate to EC2.
2. On the left-side sidebar, go to under "Auto Scaling" click on "Launch Configurations".
3. Find the Launch Configuration for Gamma (repeat for Alpha), and click the checkbox.
4. In "Actions", under the dropdown click on "Copy launch configuration".
5. Under "Instance Typ

[2020-07-07 02:00] #257 closed

[2020-08-03 01:49] #255 closed

[2020-08-03 02:30] noahbrenner commented on #255
Changed to 0.5SP because we can only provide instructions for a browser issue. We can't actually fix it for website visitors. See the closing PR for details.

[2020-11-11 05:36] mattsayre commented on #233
The current version of the text for the FAQ page is in this directory https://drive.google.com/drive/folders/1IBkbK8LU7A4NYfiNKhgssaklLBjF0Z_S

[2020-11-11 05:40] mattsayre commented on #256
Added 2SP to this ticket.

[2020-11-11 05:43] mattsayre opened #260 "Census Blocks Added to Excel Export (1SP)"
Builds off query created in support of previous ticket 243.

Incorporates this query into user accessible Excel export tool, which would then include census blocks/column in export file.

[2020-11-11 05:44] mattsayre commented on #260
@Kourchenko any chance you have capacity to take a look at this one?

[2020-11-11 05:46] mattsayre opened #261 "Census Blocks for all of Oregon map (3SP)"
Add census block detail to visual map for all of Oregon.

Currently the map displays Census Blocks only for Lane County with special URL https://speedupamerica.com/all-results?feature_blocks=1

Can census blocks be enabled visually for all of Oregon? If yes, enable this capability.

[2020-11-16 04:25] Kourchenko commented on #260
@mattsayre PR created.
This definitely isn't worth 2SP. The code update is super simple. I'd be happy to lower it to 1SP to keep ticket work consistent for the amount of work required. 👍 :)

[2020-11-16 04:47] #249 closed

[2020-11-17 06:38] mattsayre commented on #260
Okay, thank you very much @Kourchenko !

[2020-11-17 23:29] noahbrenner commented on #233
Hey @mattsayre and @alexandracorvello, I've got some questions for you in getting the About and FAQ pages up. Please let me know if you agree/disagree/don't have a strong opinion on what I have listed here.

## Questions/suggestions/info about the FAQ

* General note: I'm changing underlined text in the reference doc to bold text. On the web, it's bad UX to have underlined text that isn't a link.

[2020-11-18 00:35] alexandracorvello commented on #233
Hello Noah,
Thank you so much for reviewing the FAQ page so thoroughly! I have put my comments on your different recommendations below in red. I agree with most of them.

Best,
Alexandra

From: Noah Brenner <notifications@github.com>
Sent: Tuesday, November 17, 2020 3:30 PM
To: Hack4Eugene/SpeedUpAmerica <SpeedUpAmerica@noreply.github.com>
Cc: CORVELLO Alexandra E <Alexandra.CORVELLO@lanecountyor.

[2020-11-18 01:46] noahbrenner commented on #233
@alexandracorvello  Sounds great, thanks! I'll go with those answers.

I'll certainly link to the PDFs for now, but for future updates here's something to keep in mind about the accessibility of PDFs: A PDF has a rigid page size, whereas a webpage can easily adapt to the width of the screen. This means that if someone views a PDF on a mobile device, for example, the text will be too small to read,

[2020-11-18 17:03] alexandracorvello commented on #233
I like option 1 as well because right now the information fits with what’s on the website and if anything changes I’m hoping this could be updated as the change it made.

Best,
Alexandra

From: Noah Brenner <notifications@github.com>
Sent: Tuesday, November 17, 2020 5:46 PM
To: Hack4Eugene/SpeedUpAmerica <SpeedUpAmerica@noreply.github.com>
Cc: CORVELLO Alexandra E <Alexandra.CORVELLO@lanecountyor.

[2020-11-22 23:16] #233 closed

[2020-11-26 00:51] Kourchenko commented on #260
Fixed.

[2020-11-26 00:51] #260 closed

[2020-11-26 00:55] Kourchenko opened #265 "AWS ECR - Build failing due to required Docker Login Authentication (1 SP)"
Docker now requires login to authenticate Docker Image requests.
The current build process requires that we SSH into any of the existing Production EC2 Instances, and run a command to login to Docker.

Task:
Please add an automated command to log in to Docker before the Docker Image is pulled from AWS ECR and so that the build process does not fail during automated builds.

[2020-11-29 21:58] Kourchenko commented on #265
Unassigning myself. Solution requires a good bit more work than initially proposed.

[2021-01-03 22:27] csjoblom commented on #265
This can be done by setting the docker login credentials in the secrets on AWS

https://github.com/Hack4Eugene/SpeedUpAmerica/blob/master/buildspec.yml

This fill just needs the docker login added before docker build in the build section. You should be able to echo in the AWS vars that you set in codebuild or in your env.

[2021-03-03 01:25] mattsayre commented on #195
2021 update Texas is interested in being the next state to be added to the national map.

[2021-03-13 02:35] colindavey commented on #250
A couple of questions.

1. There are five pages that have

Remove from all five?

2. Is there currently a footer somewhere that is applied to all pages? If not, do we want to create one? I see that views/shared/_header.html.erb is used as a header over numerous pages. I don't see by what mechanism it is added to each page. But I think it might be through layouts/application.html.erb's `<%= render

[2021-03-13 02:49] colindavey commented on #250
Never mind, I think I got this.

[2021-03-29 02:21] noahbrenner commented on #250
Resolved by #270

[2021-03-29 02:21] #250 closed

[2021-05-05 01:44] mattsayre opened #272 "Restoring Zendesk .5 SP"
colindavey found a 404 with a zendesk integration, which lead to finding an expired zendesk account. A  new account was created with Zendesk. Our new support URL is speedupamericahelp.zendesk.com I think the integration was handled by what Zendesk calls a Web Widget and I just found that code:

<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=c0957b4c-a84a-43de-9ce3-965a

[2021-05-05 22:32] colindavey commented on #272
Just to clarify, which of these do you think is the correct fix?

`<script id="https://speedupamericahelp.zendesk.com"> </script>`

`<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=speedupamericahelp.zendesk.com"> </script> `

`<script id="ze-snippet" src="https://speedupamericahelp.zendesk.com?key=c0957b4c-a84a-43de-9ce3-965ad066e2ff"> </script>`

[2021-05-29 01:45] noahbrenner commented on #272
Resolved by #273

[2021-05-29 01:45] #272 closed

[2021-05-29 01:48] noahbrenner commented on #224
Resolved by #271

[2021-05-29 01:48] #224 closed

[2021-09-14 17:44] webaissance opened #277 "Speed Test Error: We're sorry, but something went wrong."
**Error when running a speed test**
When running a speed test I am getting an error:

We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://speedupamerica.com/'
2. Click on 'Take the Test!!!'
3. Take the speed test. I clicked on "Use my browser's location." ->  Location Succe

[2021-09-17 17:18] mattsayre commented on #277
@critzo any thoughts on this bug @webaissance seeing above? I recall that sometimes certain mlab servers have trouble and this api call is hitting ndt-iupui-mlab1-sea08.mlab-oti.measurement-lab.org specifically

[2021-09-17 17:32] critzo commented on #277
@mattsayre I ran a couple tests and am not getting the same issue. I'll see about getting a vpn'd connection to the Seattle region to re-test.

@robertodauria could you take a look?

[2021-09-17 20:49] robertodauria commented on #277
@mattsayre There doesn't seem to be a problem with the NDT client specifically, but with how the test results are saved by the backend.

From the logs above, the data object passed to the backend was complete with download/upload speed and ping:
[code]

I ran a few tests both on the SpeedUPAmerica website and on a local instance and compared the data from my successful submissions with the above,

[2021-09-17 22:08] mattsayre opened #278 "Increased geolocation accuracy in Excel export (SP 1)"
**Is your feature request related to a problem? Please describe.**
Broadband advocates are seeking grants to address the digital divide, prioritizing the most unserved/underserved locations. To do this, the most specific geolocation of speed test data is needed.

**Describe the solution you'd like**
The Excel document (via one click on the home page) from Speedupamerica.com is helpful in that it i

[2021-09-22 20:33] critzo opened #279 "move from ndt5 to ndt7"
**Is your feature request related to a problem? Please describe.**
M-Lab is working to help as many third party integrations of NDT to migrate from ndt5 to ndt7. [ndt7-js](https://github.com/m-lab/ndt7-js) has undergone [recent testing and bug fixing](https://github.com/m-lab/ndt7-js/issues?q=is%3Aissue+is%3Aclosed).

**Describe the solution you'd like**
Transition speedupamerica to ndt7-js.

**De

[2021-09-28 19:14] webaissance commented on #277
Thank you all for your feedback.
The issue seems to be with CenturyLink Fiber. I have tested this quite a bit and every time I run the test with my CenturyLink Fiber it gives the error above - regardless of whether it's on Chrome, Firefox or on my Samsung phone, and on the live site or on the local site.
But when I use the Credo / Verizon cell data on either the phone or as a mobile hot-spot for t

[2021-09-29 17:05] webaissance commented on #195
Hi @mattsayre and @ryanrolds and team,
I want to let you know I've been pursuing this task - to add Texas - steadily for more than a week - and I think I'm making progress.

I think there are a few challenges which are making it take a while - but I'm thinking of a strategy to expedite adding states moving forward.
The main challenge is that there is a LOT of data - and as we add states the data k

[2021-10-03 23:07] noahbrenner commented on #278
Closed by #280

[2021-10-03 23:07] #278 closed

[2021-11-12 17:59] mattsayre commented on #279
Hey friends, just checking in on this issue. Any ETA on the move from ndt5 to ndt7?

[2022-01-22 17:56] critzo commented on #279
@mattsayre apologies for my delayed reply. I'll resurface this internally in the upcoming week with @laiyi-ohlsen and @robertodauria. I'll also use the docs and spin up a local instance to test some ideas.

[2022-01-28 14:28] laiyi-ohlsen commented on #279
Hi @mattsayre, @robertodauria will prioritize this to be completed within the next 1-2 weeks. Thanks for resurfacing!

[2022-02-02 22:56] mattsayre opened #283 "iframe page for embedding in 3rd party websites"
**Is your feature request related to a problem? Please describe.**
Looking to enable 3rd party branded websites to embed a speedup page, in their website. This will be a survey style form, very similar to how it is done on speedupamerica.com proper, meaning a sequence for taking a speed test of geolocation (use my browsers location/use my addres), then Residential/Mobile/Public, connection tyep (w

[2022-02-02 23:06] mattsayre commented on #279
Thank you for the support @laiyi-ohlsen and MLab.

[2022-02-05 19:30] webaissance commented on #283
I am working on this. Didn't see how to assign to myself.

[2022-02-21 06:37] #279 closed

[2022-04-21 23:40] mattsayre commented on #283
@webaissance a few copy and other minor edits:
1) Remove the copy "Test Your Internet Speed Oregon"
2) Remove the copy "In 5 Steps"
3) Remove the question about connection type (wired/wifi/cellular) in its entirety.
4) Change Estimated price per month question to OPTIONAL.
5) Remove csv Export button from iframe, just need to know the direct link URL.

[2022-04-22 00:04] webaissance commented on #283
Okay @mattsayre - I will work on those - give me till tomorrow mid-morning and I'll send these updates through.

[2022-04-25 05:38] mattsayre commented on #283
Additional minor edits @webaissance :
1) Make question 3 (regarding price), optional. This will require the additional change of having question 4 come up to fill out in tandem with question 3.
2) The "i" hover over in question 3 floats up and is getting cut off (readability). Needs to float down, which should prevent the text from being cutoff.
3) Remove entire statement on results page, "This te

[2022-04-27 04:50] mattsayre commented on #283
Additional minor edit @webaissance

1. we need to change the language under the "I don't have internet" track, when they enter their address. The copy should be replaced with "I'd like to register my address as a location that doesn't have internet".

[2022-04-27 05:11] webaissance commented on #283
Ok. I'll work on sending another PR tomorrow or tonight if possible

On Tue, Apr 26, 2022, 9:50 PM Matt Sayre ***@***.***> wrote:

[2022-04-27 11:15] webaissance commented on #283
Matt - I just sent a PR that takes care of all of the remaining tasks for
the iFrame issue.

Also - of note - in order to download data you have to inspect the result
page and unhide the button. I don't know of a way to trigger the
export just via a URL.

The export process can be developed over time more as needed.

Hope tomorrow goes great for the project!

-Dave

On Tue, Apr 26, 2022 at 9:50 PM

[2022-04-29 15:10] webaissance commented on #283
@mattsayre I am working on these. I would say anything that's just cosmetic or type change is minor.  Anything that changes functionality is small but not minor - because it changes the logic and has the potential to break things and therefore requires more thorough testing. In any case - I will try to get these done asap and send through a PR.

[2022-04-29 15:22] webaissance commented on #283
For 1) - the new Opt-in item - we should probably add this as a database field - for opt-in right? This would involve running the db migrator update again.
For now I will not do that - since this appears to be urgent - but can add it later if needed.

[2022-04-29 15:29] webaissance commented on #283
Related to this - wouldn't each region have it's own disclaimer - so the link shouldn't be hardcoded in  - but a configuration for each region?

[2022-04-29 15:30] mattsayre commented on #283
Thank you. Yes, let’s add that later.

[2022-04-29 15:32] mattsayre commented on #283
Good thinking. Let’s also put that on the future roadmap and just hard code it for now.

[2022-05-05 18:35] mattsayre commented on #283
@webaissance follow-up to our conversation about restoring IP address lookup capability for naming ISP's.

[2022-05-05 18:39] mattsayre commented on #283
@webaissance add Spanish language version of iframe. Copy attached
[iframe language for translation FIO-es-US.docx](https://github.com/Hack4Eugene/SpeedUpAmerica/files/8633765/iframe.language.for.translation.FIO-es-US.docx)
Of note, Internationalization in Rails: https://guides.rubyonrails.org/i18n.html
Also of note, need to link out to the host website and their spanish language translation versi

[2022-05-06 15:37] mattsayre commented on #283
Link to (test) Spanish translation of disclaimer https://test.fasterinternetoregon.org/es/disclaimer/

[2022-05-06 15:51] mattsayre commented on #283
@webaissance - BUG - Scenario where user clicks “I do NOT have internet…”, then “Internet is not affordable”, then register my address… it currently initiates a speed test. There should NOT be a speed test initiated in this flow.

[2022-05-06 15:53] webaissance commented on #283
Okay - what should it do instead? What should the button say?

On Fri, May 6, 2022 at 8:51 AM Matt Sayre ***@***.***> wrote:

[2022-05-07 18:09] mattsayre commented on #283
When user selects "I do NOT have Internet access..." > Internet is not affordable, they should receive this confirmation message (and not initiate the speed test):

"Thank you for your participation. Get more information on state and federal government discounted Internet access programs: https://www.oregon.gov/puc/pages/oregon-lifeline.aspx”

"Gracias por su participación. Obtenga más información

[2022-05-09 04:56] webaissance commented on #283
@mattsayre - I'm not clear on the process flow for different scenarios - particularly if no internet connection.
If no internet - do we still want to collect data - or just do nothing?
What about the "register this address as having no internet" option from before?

It would nice to have a flowchart of the scenarios.
Here are 2 flowcharts I made. I'm trying to understand if you want scenario A or

[2022-05-09 05:29] mattsayre commented on #283
@webaissance yes, we do want to collect data from all form submissions (have and have not internet). Flow chart B is very close, made one edit, see attached
![flow B version 2](https://user-images.githubusercontent.com/49382923/167346156-a3556056-49b7-449a-8290-fa72be76e63b.png)

.

[2022-05-09 10:36] webaissance commented on #283
Thanks @mattsayre  - now I'm getting clarity. I made an updated flowchart on SmartDraw.com. It allows us to collaborate on Flowcharts via shared links,
So you can go in and make edits here as needed -

[FlowChartC-2022-05-09.pdf](https://github.com/Hack4Eugene/SpeedUpAmerica/files/8650818/FlowChartC-2022-05-09.pdf)

I think if we collaborate on flow charts like this it will really help provide cla

[2022-05-09 17:48] mattsayre commented on #283
@webaissance additional translation:

Your Results = Sus Resultados

Download Speed = Velocidad de Descarga

Upload Speed = Velocidad de Carga

Ping = Ping

[2022-05-20 05:05] mattsayre commented on #283
@webaissance while we work to figure why the 'provider' lookup is not working, let's add IP Address to the csv export, so that it can be derived later in the overall workflow (in the separate analysis tool).

[2022-05-20 06:05] mattsayre commented on #283
@webaissance in the CSV export, the significant digits for lat/long appear to be truncating or rounding. Let's work together to ensure that those get read out fully.

[2022-05-20 06:13] webaissance commented on #283
Oh - thanks for catching that. I'll look into fixing it.

On Thu, May 19, 2022 at 11:05 PM Matt Sayre ***@***.***>
wrote:

[2022-05-25 15:57] webaissance opened #310 "Use Mapbox Geocoder API instead of Algolia Places for address autocomplete and Latitude and Longitude data"
Algolia Places is currently being used for the address autocomplete feature and for getting latitude and longitude data.
This needs to be replaced for a few reasons
1) The service is being sunsetted: https://www.algolia.com/blog/product/sunsetting-our-places-feature/
2) The results for latitude and longitude are not fully accurate. See this page: https://github.com/algolia/places/issues/500

We al

[2022-06-16 00:18] ryanrolds opened #313 "Change owner of Sentry.io"
I'm getting a lot of emails from Sentry.io about errors. Please provide me the email address of you want to own the account, so I can invite them and transfer ownership.

[2022-06-24 19:14] ryanrolds commented on #313
I understand the lack of response to this issue to indicate that Sentry.io isn't important to the project and the account can be deleted. In a week if there continues to be no response, I will delete the account.

[2022-06-28 20:08] ryanrolds commented on #313
The Sentry.io account has been deleted.